<div class="overflow-hidden doctor-dashboard_midcontent_container w-ful p-4">
    <div class="flex items-center justify-left my-2 ">
      <div class="w-full h-screen overflow-y-scroll bg-white">
  
        <div class="relative overflow-x-auto  sm:rounded-lg p-8">
          <div class=" flex gap-4 items-center justify-between">
            <h1 class="dashbord-heading-text text-[22px] "> <i class="fa-solid fa-building-columns mr-1"></i>
              Doctors</h1>
          </div>
  
          <div class="w-full mt-6 flex flex-wrap gap-5">
                  
                     <app-doctor-card class="max-w-[400px] min-w-[310px]" ></app-doctor-card>
                     <app-doctor-card class="max-w-[400px] min-w-[310px]" ></app-doctor-card>
                     <app-doctor-card class="max-w-[400px] min-w-[310px]" ></app-doctor-card>
                     <app-doctor-card class="max-w-[400px] min-w-[310px]" ></app-doctor-card>
                     <app-doctor-card class="max-w-[400px] min-w-[310px]" ></app-doctor-card>
                     <app-doctor-card class="max-w-[400px] min-w-[310px]" ></app-doctor-card>
                     <app-doctor-card class="max-w-[400px] min-w-[310px]" ></app-doctor-card>
                     <app-doctor-card class="max-w-[400px] min-w-[310px]" ></app-doctor-card>
                     <app-doctor-card class="max-w-[400px] min-w-[310px]" ></app-doctor-card>
                     <app-doctor-card class="max-w-[400px] min-w-[310px]" ></app-doctor-card>



                  
          </div>
        </div>
      </div>
    </div>
  
  </div>