<div [@slideInFrom]="animationDirection" class="doctor-dashboard_midcontent_container p-4">

  <!-- <div [class]="showWarning ? 'showWarning alert alert-warning rounded-lg mb-4' : 'hideWarning' " >
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
    <span class="font-semibold">Your account is under review. Please submit your profile information! <a >Goto Profile Settings</a> </span>
  </div> -->

  <!-- <div
      class="top bg-primary w-full border-[1px] pl-10 rounded-lg mb-[20px] h-[200px] flex  justify-between overflow-hidden">
      <div class="left w-[40%] flex flex-col justify-center">
        <h1 class=" text-[28px] dashbord-heading-text text-white">Welcome Doctor</h1>
        <p class=" dashbord-heading-subtext text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Ipsam,Lorem ipsum dolor sit amet placeat!</p>
      </div>
      <div class="right w-[22%] ">
        <img src="../../../assets/doctor/residency-removebg-preview.png" class="w-full" alt="doctor">
      </div>
    </div> -->
  <div class="top-bar flex justify-between">
    <div class="w-full min-w-[60%] max-w-[60%]">
      <div class="top-box min-w-[100%] mt-2 flex justify-between max-w-[100%] gap-5 ">
        <app-dashboard-statisticscard></app-dashboard-statisticscard>
        <app-dashboard-statisticscard></app-dashboard-statisticscard>
        <app-dashboard-statisticscard></app-dashboard-statisticscard>
      </div>


      <div class="bottom-box border-[1px] mt-5 h-[400px] bg-white rounded-lg p-5 box-border ">
        <div class=" flex justify-between border-b-[1px] pb-2 items-center  ">
          <h2 class="dashbord-heading-text  h-fit">
            Today's Appointments
          </h2>
          <button class="btn-secondary-light h-fit">View all</button>
        </div>
      </div>
    </div>
    <div
      class="dashboard_today_appointment min-w-[38%] max-w-[38%] bg-white border-[1px] h-[500px] rounded-lg p-5 box-border">
      <h2 class="dashbord-heading-text border-b-[1px] pb-3">
        Recent Notifications
      </h2>
    </div>
  </div>
  <div class="bottom-bar">bottom</div>
</div>