<app-header></app-header>
<div #scrolltop></div>
<div class="relative w-full">
  <app-banner></app-banner>

  <app-live-doctors></app-live-doctors>

  @defer (on viewport; prefetch on idle) {
  <app-signup-marketing-banner></app-signup-marketing-banner>
  }@placeholder {
  <div class="flex flex-shrink-1 w-full h-[300px] justify-center items-center">
    Loading...
  </div>
  } @defer (on viewport; prefetch on idle) {
  <app-app-marketing></app-app-marketing> }@placeholder {
  <div class="flex flex-shrink-1 w-full h-[300px] justify-center items-center">
    Loading...
  </div>
  } @defer (on viewport; prefetch on idle) {
  <app-pricing></app-pricing> }@placeholder {
  <div class="flex flex-shrink-1 w-full h-[300px] justify-center items-center">
    Loading...
  </div>
  } @defer (on viewport; prefetch on idle) {
  <app-newsletter></app-newsletter>
  }@placeholder {
  <div class="flex flex-shrink-1 w-full h-[300px] justify-center items-center">
    Loading...
  </div>
  }
</div>

<div
  appScroll
  class="absolute bottom-10 right-10 cursor-pointer bg-secondary p-4 text-white rounded-md"
>
  <i class="fa-solid fa-arrow-up"></i>
</div>
<!-- <app-splash></app-splash> -->
<app-footer></app-footer>
