<div #scrolltop></div>
<div class="relative">
  <app-banner></app-banner>
  @defer (on viewport) {
  <app-live-doctors></app-live-doctors> }@placeholder {
  <div class="h-[400px] w-full flex justify-center items-center">
    <h1>Loading ....</h1>
  </div>
  } @defer (on viewport; prefetch on idle) {
  <app-signup-marketing-banner></app-signup-marketing-banner>
  }@placeholder {
  <h1>Laoding</h1>
  } @defer (on viewport; prefetch on idle) {
  <app-app-marketing></app-app-marketing> }@placeholder {
  <h1>Laoding</h1>
  } @defer (on viewport; prefetch on idle) {
  <app-pricing></app-pricing> }@placeholder {
  <h1>Laoding</h1>
  } @defer (on viewport; prefetch on idle) {
  <app-newsletter></app-newsletter>
  }@placeholder {
  <h1>Laoding</h1>
  }
</div>

<div
  appScroll
  class="absolute bottom-10 right-10 cursor-pointer bg-secondary p-4 text-white rounded-md"
>
  <i class="fa-solid fa-arrow-up"></i>
</div>
<!-- <app-splash></app-splash> -->
