<div class="container">
    <div class="py-[100px]">
        <div className="w-1/2 text-left">
            <nav aria-label="breadcrumb" class="w-max">
                <ol class="flex w-full flex-wrap items-center rounded-md bg-blue-gray-50 bg-opacity-60 py-2 px-4">
                    <li
                        class="flex cursor-pointer items-center font-sans text-sm font-normal leading-normal text-blue-gray-900 antialiased transition-colors duration-400 hover:text-pink-500">
                        <a class="opacity-60" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                                </path>
                            </svg>
                        </a>
                        <span
                            class="pointer-events-none mx-2 select-none font-sans text-sm font-normal leading-normal text-blue-gray-500 antialiased">
                            /
                        </span>
                    </li>
                    <li
                        class="flex cursor-pointer items-center font-sans text-sm font-normal leading-normal text-blue-gray-900 antialiased transition-colors duration-400 hover:text-pink-500">
                        <a class="opacity-60" href="#">
                            <span>Doctors</span>
                        </a>
                        <span
                            class="pointer-events-none mx-2 select-none font-sans text-sm font-normal leading-normal text-blue-gray-500 antialiased">
                            /
                        </span>
                    </li>
                    <li
                        class="flex cursor-pointer items-center font-sans text-sm font-normal leading-normal text-blue-gray-900 antialiased transition-colors duration-400 hover:text-pink-500">
                        <a class="font-medium text-blue-gray-900 transition-colors hover:text-pink-500" href="#">
                            Dr. Rubby Perrin
                        </a>
                    </li>
                </ol>
            </nav>
        </div>

<!-- bread end -->

     <div class="w-full border-[1px] rounded-md p-8 flex gap-8 mt-5">
         <div class="w-[200px] h-[160px] border-4 flex-2">
            <img class="w-full h-full" src="/assets/doctor/doctor.jpg" alt="">
         </div>
         <div class="w-[80%] flex flex-col flex-3">
            <div>
                <h2 class="text-[24px] font-Roboto font-medium text-primary">Ruby Perrin</h2>
                <p class="text-[15px] font-normal text-gray-500 font-poppins">MDS - Periodontology and Oral Planetology, BDS</p>
            </div>
            <span class="mt-3 font-poppins" >
                <i class="fa-solid fa-star text-yellow-500"></i>
                <i class="fa-solid fa-star text-yellow-500"></i>
                <i class="fa-solid fa-star text-yellow-500"></i>
                <i class="fa-solid fa-star text-yellow-500"></i>
                <i class="fa-regular fa-star"></i>
                (35+ reviews)
            </span>
            <p class="mt-3 font-poppins"><i class="fa-solid fa-location-dot"></i> Florida, USA - <b>Get Directions</b></p>
            <p class="mt-3 text-[24px] font-bold text-primary font-poppins">  Fee - 700.00 Tk</p>
            
         </div>
         <div class="w-[250px] flex flex-col gap-2">
            <div class="text-[15px]"><i class="fa-solid fa-heart"></i> 99%</div>
            <div class="text-[15px]"><i class="fa-solid fa-comment"></i> 402 Feedback</div>
            <div class="text-[15px]"><i class="fa-solid fa-location-dot"></i>  Florida, USA</div>
            <div class="flex gap-2 mt-3">
                <span class="w-[40px] h-[40px] border-[1px] py-2 px-3"><i class="fa-solid fa-bookmark"></i></span>
                <span class="w-[40px] h-[40px] border-[1px] py-2 px-3"><i class="fa-regular fa-message"></i></span>
                <span class="w-[40px] h-[40px] border-[1px] py-2 px-3"><i class="fa-solid fa-video"></i></span>
                <span class="w-[40px] h-[40px] border-[1px] py-2 px-3"><i class="fa-solid fa-phone-volume"></i></span>
            </div>
            <button class="btn-secondary w-[200px] mt-3"> Book Now </button>
         </div>
     </div>

<div class="w-full border-[1px] rounded-md p-8 flex gap-8 mt-5">
    <mat-tab-group mat-stretch-tabs="true" style="width: 100%;" mat-align-tabs="start" [selectedIndex]="active" >
        <mat-tab label="Overview">
            <app-overview></app-overview>
        </mat-tab>
        <mat-tab label="Hospital & Location">
            <app-hospital-locations></app-hospital-locations>
        </mat-tab>
        <mat-tab label="Schedule">
            <app-schedule></app-schedule>
        </mat-tab>
        <mat-tab label="Reviews">
            <app-reviews></app-reviews>
        </mat-tab>
        <mat-tab label="Doctor Blogs">
        </mat-tab>
    </mat-tab-group>
</div>

    </div>
</div>