<div class="overflow-hidden doctor-dashboard_midcontent_container w-ful p-4">
  <div class="flex items-center justify-left my-2 ">
    <div class="w-full h-screen bg-white">

      <div class="relative overflow-x-auto  sm:rounded-lg p-8">
        <div class=" flex gap-4 items-center justify-between">
          <h1 class="dashbord-heading-text text-[22px] "> <i class="fa-solid fa-building-columns mr-1"></i>
            Appointment & Prescriptions</h1>
        </div>

        <div class="w-full mt-6">
                <div class="w-full min-w-[100%] max-w-[100%]">
                    <app-agent-appointments [layout]="'appointments'"></app-agent-appointments>
                </div>
        </div>
      </div>
    </div>
  </div>

</div>