::ng-deep .mdc-tab-indicator{
    display: none;
}
::ng-deep .mat-mdc-tab-header{
border-bottom: 1px solid rgb(225, 225, 225);
}



::ng-deep .mdc-tab--active{
    background: #30bced;
    color: #ffffff;
}

::ng-deep .mdc-tab__text-label{
    font-size: 16px;
}

::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
    color: #ffffff;
}