<div class="h-[100%]" >

    <div class="w-full flex">

        <div class=" w-full p-4">
            <div class="w-full mt-5">
                <div class="w-full">
                    <li class="mb-3 list-none text-center">
                        <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Dhaka Medical College</h3>
                        <time
                            class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Available Sun, Mon, Fri : 9-3</time>
                    </li>
                    <div class="grid grid-cols-7 gap-2 flex-grow mt-5">
                        <div
                            class="h-[50px] justify-center flex items-center border-[1px] w-full rounded-tl-xl rounded-tr-xl font-Roboto text-[15px] bg-secondary-light text-secondary-dark">
                            Sat</div>
                        <div
                            class="h-[50px] justify-center flex items-center border-[1px] w-full rounded-tl-xl rounded-tr-xl font-Roboto text-[15px] bg-secondary-light text-secondary-dark">
                            Sun</div>
                        <div
                            class="h-[50px] justify-center flex items-center border-[1px] w-full rounded-tl-xl rounded-tr-xl font-Roboto text-[15px] bg-secondary-light text-secondary-dark">
                            Mon</div>
                        <div
                            class="h-[50px] justify-center flex items-center border-[1px] w-full rounded-tl-xl rounded-tr-xl font-Roboto text-[15px] bg-secondary-light text-secondary-dark">
                            Tue</div>
                        <div
                            class="h-[50px] justify-center flex items-center border-[1px] w-full rounded-tl-xl rounded-tr-xl font-Roboto text-[15px] bg-secondary-light text-secondary-dark">
                            Wed</div>
                        <div
                            class="h-[50px] justify-center flex items-center border-[1px] w-full rounded-tl-xl rounded-tr-xl font-Roboto text-[15px] bg-secondary-light text-secondary-dark">
                            Thu</div>
                        <div
                            class="h-[50px] justify-center flex items-center border-[1px] w-full rounded-tl-xl rounded-tr-xl font-Roboto text-[15px] bg-secondary-light text-secondary-dark">
                            Fri</div>
                    </div>

                    <div class="grid grid-cols-7 gap-2 py-4 box-border w-full h-[300px] border-t-0">
                         <div class="h-[30px] grid grid-rows gap-2" >
                             <div class="py-2 px-4 border-[1px] rounded-md border-secondary-dark/10 font-Roboto font-medium text-secondary-dark hover:bg-secondary-dark hover:text-white bg-secondary-light/30" (click)="openDialog()">9.00am - 11.00am</div>
                             <div class="py-2 px-4 border-[1px] rounded-md border-secondary-dark/10 font-Roboto font-medium text-secondary-dark hover:bg-secondary-dark hover:text-white bg-secondary-light/30" (click)="openDialog()">9.00am - 11.00am</div>
                             <div class="py-2 px-4 border-[1px] rounded-md border-secondary-dark/10 font-Roboto font-medium text-secondary-dark hover:bg-secondary-dark hover:text-white bg-secondary-light/30" (click)="openDialog()">9.00am - 11.00am</div>
                             <div class="py-2 px-4 border-[1px] rounded-md border-secondary-dark/10 font-Roboto font-medium text-secondary-dark hover:bg-secondary-dark hover:text-white bg-secondary-light/30" (click)="openDialog()">9.00am - 11.00am</div>
                         </div>
                         <div class="h-[30px] grid grid-rows gap-2" >
                            <div class="py-2 px-4 border-[1px] rounded-md border-secondary-dark/10 font-Roboto font-medium text-secondary-dark hover:bg-secondary-dark hover:text-white bg-secondary-light/30">9.00am - 11.00am</div>

                         </div>
                         <div class="h-[30px] grid grid-rows gap-2" >
                            <div class="py-2 px-4 border-[1px] rounded-md border-secondary-dark/10 font-Roboto font-medium text-secondary-dark hover:bg-secondary-dark hover:text-white bg-secondary-light/30" (click)="openDialog()">9.00am - 11.00am</div>
                            <div class="py-2 px-4 border-[1px] rounded-md border-secondary-dark/10 font-Roboto font-medium text-secondary-dark hover:bg-secondary-dark hover:text-white bg-secondary-light/30" (click)="openDialog()">9.00am - 11.00am</div>
                            <div class="py-2 px-4 border-[1px] rounded-md border-secondary-dark/10 font-Roboto font-medium text-secondary-dark hover:bg-secondary-dark hover:text-white bg-secondary-light/30" (click)="openDialog()">9.00am - 11.00am</div>
                            <div class="py-2 px-4 border-[1px] rounded-md border-secondary-dark/10 font-Roboto font-medium text-secondary-dark hover:bg-secondary-dark hover:text-white bg-secondary-light/30" (click)="openDialog()">9.00am - 11.00am</div>
                            <div class="py-2 px-4 border-[1px] rounded-md border-secondary-dark/10 font-Roboto font-medium text-secondary-dark hover:bg-secondary-dark hover:text-white bg-secondary-light/30" (click)="openDialog()">9.00am - 11.00am</div>
                         </div>
                         <div class="h-[30px] grid grid-rows gap-2" >

                         </div>
                         <div class="h-[30px] grid grid-rows gap-2" >
                            <div class="py-2 px-4 border-[1px] rounded-md border-secondary-dark/10 font-Roboto font-medium text-secondary-dark hover:bg-secondary-dark hover:text-white bg-secondary-light/30" (click)="openDialog()">9.00am - 11.00am</div>
                            <div class="py-2 px-4 border-[1px] rounded-md border-secondary-dark/10 font-Roboto font-medium text-secondary-dark hover:bg-secondary-dark hover:text-white bg-secondary-light/30" (click)="openDialog()">9.00am - 11.00am</div>
                         </div>
                         <div class="h-[30px] grid grid-rows gap-2" >
                            <div class="py-2 px-4 border-[1px] rounded-md border-secondary-dark/10 font-Roboto font-medium text-secondary-dark hover:bg-secondary-dark hover:text-white bg-secondary-light/30" (click)="openDialog()">9.00am - 11.00am</div>
                            <div class="py-2 px-4 border-[1px] rounded-md border-secondary-dark/10 font-Roboto font-medium text-secondary-dark hover:bg-secondary-dark hover:text-white bg-secondary-light/30" (click)="openDialog()">9.00am - 11.00am</div>
                            <div class="py-2 px-4 border-[1px] rounded-md border-secondary-dark/10 font-Roboto font-medium text-secondary-dark hover:bg-secondary-dark hover:text-white bg-secondary-light/30" (click)="openDialog()">9.00am - 11.00am</div>

                         </div>
                         <div class="h-[30px] grid grid-rows gap-2" >
                            <div class="py-2 px-4 border-[1px] rounded-md border-secondary-dark/10 font-Roboto font-medium text-secondary-dark hover:bg-secondary-dark hover:text-white bg-secondary-light/30" (click)="openDialog()">9.00am - 11.00am</div>

                         </div>
                    </div>
                </div>
                <div className="divider"></div> 
                <div class="w-full mt-5">
                    <li class="mb-3 list-none text-center">
                        <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Chittagong Medical College, Chittagong</h3>
                        <time
                            class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Released
                            on December 7th, 2021</time>
                    </li>
                    <div class="grid grid-cols-7 gap-2 flex-grow mt-5">
                        <div
                            class="h-[50px] justify-center flex items-center border-[1px] w-full rounded-tl-xl rounded-tr-xl font-Roboto text-[15px] bg-secondary-light text-secondary-dark">
                            Sat</div>
                        <div
                            class="h-[50px] justify-center flex items-center border-[1px] w-full rounded-tl-xl rounded-tr-xl font-Roboto text-[15px] bg-secondary-light text-secondary-dark">
                            Sun</div>
                        <div
                            class="h-[50px] justify-center flex items-center border-[1px] w-full rounded-tl-xl rounded-tr-xl font-Roboto text-[15px] bg-secondary-light text-secondary-dark">
                            Mon</div>
                        <div
                            class="h-[50px] justify-center flex items-center border-[1px] w-full rounded-tl-xl rounded-tr-xl font-Roboto text-[15px] bg-secondary-light text-secondary-dark">
                            Tue</div>
                        <div
                            class="h-[50px] justify-center flex items-center border-[1px] w-full rounded-tl-xl rounded-tr-xl font-Roboto text-[15px] bg-secondary-light text-secondary-dark">
                            Wed</div>
                        <div
                            class="h-[50px] justify-center flex items-center border-[1px] w-full rounded-tl-xl rounded-tr-xl font-Roboto text-[15px] bg-secondary-light text-secondary-dark">
                            Thu</div>
                        <div
                            class="h-[50px] justify-center flex items-center border-[1px] w-full rounded-tl-xl rounded-tr-xl font-Roboto text-[15px] bg-secondary-light text-secondary-dark">
                            Fri</div>
                    </div>

                    <div class="border-[1px] w-full h-[300px] border-t-0">

                    </div>
                </div>
            </div>
        </div>



    </div>
</div>