<div class="w-full border-[1px] min-h-[630px] max-h-fit mx-auto bg-white">
  <div class="p-6">
    <div class="flex justify-between items-center">
      <h1
        class="text-lg font-semibold font-Roboto text-gray-700 capitalize lg:text-[28px]"
      >
        {{ details?.name }}
      </h1>

      <div>
        <h2
          class="mt-4 text-2xl font-bold font-Roboto text-secondary-dark sm:text-3xl xl:text-4xl"
        >
          {{
            selectedPlan === "monthly"
              ? details?.price.monthly
              : selectedPlan === "yearly"
              ? details?.price.yearly
              : selectedPlan === "quarterly"
              ? details?.price.quarterly
              : selectedPlan === "halfYearly"
              ? details?.price.halfYearly
              : "Not Available"
          }}
        </h2>
        <select [(ngModel)]="selectedPlan" class="outline-none border-[1px]">
          <option value="monthly">Monthly</option>
          <option value="yearly">Yearly</option>
          <option value="quarterly">Quarterly</option>
          <option value="halfYearly">Half Yearly</option>
        </select>
      </div>
    </div>

    <!-- <p class="mt-1 text-gray-500">Yearly payment</p> -->

    <button
      (click)="getStartNow()"
      class="w-full px-4 py-2 mt-6 tracking-wide text-white capitalize transition-colors duration-300 transform bg-primary/90 rounded-md hover:bg-primary focus:outline-none focus:bg-secondary focus:ring focus:ring-secondary focus:ring-opacity-80"
    >
      Buy Now
    </button>
  </div>

  <div class="p-6">
    <h1 class="text-lg font-medium text-gray-700 capitalize lg:text-xl">
      What’s included:
    </h1>

    <div class="mt-8 space-y-4 flex flex-col gap-3">
      <app-pricing-card-include-list
        *ngFor="let include of details.facilities"
        [include]="include"
      ></app-pricing-card-include-list>
    </div>
  </div>
</div>
