.live-card{
    transition-duration: 0.4s;
    .card-img{
      opacity: 0;
      transform: translatey(-100%);
      transition-duration: 0.4s;
    }
    &:hover .card-img{
        opacity: .08;
        transform: translatey(0%);
      }

}