.live-card{
    transition-duration: 0.4s;
    .card-img{
      opacity: 0;
      transform: translatey(-100%);
      transition-duration: 0.4s;
    }
    &:hover .card-img{
        opacity: .08;
        transform: translatey(0%);
      }
    &:hover{
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
}