<div [@slideInFrom]="animationDirection" class="doctor-dashboard_midcontent_container">
    <!-- <div class="font-medium text-gray-900 text-left text-[28px] h-32 bg-white">
      <img src="../../../../../assets/doctor/dr-cover.jpg" class="w-full object-cover h-full" alt="">
    </div> -->
    <div class=" mx-auto ">
      <div>
        <div class="bg-white relative shadow rounded-lg w-full mx-auto">
          <div class="p-10 pt-8">
            <div class="flex justify-between items-center">
              <div class="flex justify-left items-center gap-6 ">
                <div class="relative w-[128px]  h-[128px] bg-white transition ">
                    <img [src]="url ? url : '../../../../../assets/doctor/dr.jpeg'" alt=""
                    class="object-cover rounded-lg mx-auto  w-32 h-32 shadow-md border-4 border-white ">
                  <!--<mat-icon class="icon" fontIcon="edit"></mat-icon>-->
                  <input style="display: none" #attachments type="file" #fileInput
                    accept=".gif,.jpg,.jpeg,.png,.doc,.docx,.pdf" multiple>
                  <div
                    class="duration-200 transform hover:scale-110 flex justify-center items-center cursor-pointer  absolute -bottom-[8px] -right-[8px] w-[30px] h-[30px] rounded-full p-1 bg-white z-20 border-[1px]">
                    <i class="fa-solid fa-camera text-primary"></i>
                  </div>
                </div>
                <div>
                  <h1 class="font-bold text-left text-3xl text-gray-800 dashbord-heading-text">
                    {{profileInfo?.fullName}} 
                  </h1>
                  <p class="text-left text-sm text-gray-400 mt-2 font-medium dashbord-heading-subtext">
                    {{profileInfo.email}}
                  </p>
                  <div class="flex gap-4 mt-4">
                    <button class=" btn-secondary !py-1.5 px-4 shadow-none  btn font-normal bg-secondary-light/50 text-secondary-dark border-secondary-dark/20" [routerLink]="'patient-details/1'">
                      <i class="fa-solid fa-user mr-2"></i> View Profile
                    </button>
                    <button class=" btn-secondary !py-1.5 px-4 shadow-none btn font-normal bg-secondary-light/50 text-secondary-dark border-secondary-dark/20" [routerLink]="'../my-patient'">
                      <i class="fa-solid fa-plus mr-2"></i> Create Patient
                    </button>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="flex items-center justify-left mt-10 relative"  >
                <div>
                    <form [formGroup]="form">
                        <div class="-mx-3 flex flex-wrap">
            
                            <ng-container class="w-full" *ngFor="let config of patientInputData">
                                <app-input [label]="config.label" [inputId]="config.inputId" [isSelectInput]="config.isSelect"
                                    [readonly]="config.readonly ? config.readonly : false" [options]="config.options"
                                    [formControlName]="config.formControlName" [type]="config.type" class="sm:w-1/3" [placeholder]="config.label"></app-input>
                            </ng-container>
            
               
                        </div>
                        <div class="flex items-center justify-end w-fit mt-6 ">
                            <button
                                class="btn btn-secondary px-10 hover:text-primary border-transparent hover:border hover:border-secondary-border group "
                                (click)="submit()">
                                <div *ngIf="isLoading == false" class="flex items-center gap-1 text-white group-hover:text-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                        stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
                                    </svg>
                                    <span>Update Info</span>
                                </div>
                                <span *ngIf="isLoading == true" class="loading loading-dots loading-md"></span>
                            </button>
                        </div>
            
                    </form>
                </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  