<!-- <span class="inline-flex items-center justify-center px-2 py-0.5 ml-3 text-xs font-medium text-gray-500 bg-gray-200 rounded  ">Popular</span> -->

<div
  class="w-full my-5 p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 m-auto custom-scrollbar max-h-[460px] overflow-y-scroll"
>
  <h5 class="text-base font-semibold text-primary md:text-xl">
    {{ bookingInfo?.doctorName }}
  </h5>

  <!-- <p class="text-sm font-normal text-gray-500 ">
    General Medicine
  </p> -->

  <div class="relative overflow-x-auto">
    <table class="w-full mt-6 text-sm text-left text-gray-500">
      <tbody>
        <tr class="bg-white border-b">
          <th
            scope="row"
            class="py-2 font-medium text-primary whitespace-nowrap"
          >
            Patient name:
          </th>
          <td class="py-2">
            {{ bookingInfo?.patientName }}
          </td>
        </tr>
        <!-- <tr class="bg-white border-b   ">
                  <th scope="row" class=" py-2 font-medium text-primary whitespace-nowrap   ">
                    Appointment Day :
                  </th>
                  <td class=" py-2">
                    {{bookingInfo?.scheduleDayofWeek}}
                  </td>
                </tr> -->
        <tr class="bg-white border-b">
          <th
            scope="row"
            class="py-2 font-medium text-primary whitespace-nowrap"
          >
            Appointment Date :
          </th>
          <td class="py-2">
            {{ bookingInfo?.appointmentDate | date }}
          </td>
        </tr>
        <!-- <tr class="bg-white border-b">
          <th
            scope="row"
            class="py-2 font-medium text-primary whitespace-nowrap"
          >
            Appointment Type :
          </th>
          <td class="py-2">
            {{ bookingInfo?.appointmentTypeName }}
          </td>
        </tr> -->
        <tr class="bg-white border-b">
          <th
            scope="row"
            class="py-2 font-medium text-primary whitespace-nowrap"
          >
            Hospital name :
          </th>
          <td class="py-2">
            <!--{{getChamber(bookingInfo?.doctorChamberId)}}-->
            @if (bookingInfo?.doctorChamberName) {
            {{ bookingInfo?.doctorChamberName }}
            }@else{ Soowgood Online Platform }
          </td>
        </tr>

        <tr class="bg-white">
          <th
            scope="row"
            class="py-2 font-medium text-primary whitespace-nowrap"
          >
            Doctor Fee :
          </th>
          <td class="py-2">{{ bookingInfo?.doctorFee }} tk.</td>
        </tr>
        @if (userType !=='patient') {
        <tr class="bg-white">
          <th
            scope="row"
            class="py-2 font-medium text-primary whitespace-nowrap"
          >
            Booth Fee :
          </th>
          <td class="py-2">{{ bookingInfo?.agentFee }} tk.</td>
        </tr>
        }

        <tr class="bg-white">
          <th
            scope="row"
            class="py-2 font-medium text-primary whitespace-nowrap"
          >
            Platform Fee :
          </th>
          <td class="py-2">{{ bookingInfo?.platformFee }} tk.</td>
        </tr>
        <tr class="bg-white">
          <th
            scope="row"
            class="py-2 font-Roboto font-semibold text-[18px] text-primary whitespace-nowrap"
          >
            Total Fee :
          </th>
          <td class="py-2 font-Roboto font-semibold text-[18px] text-primary">
            {{ bookingInfo?.totalAppointmentFee }} tk.
          </td>
        </tr>
      </tbody>
    </table>
    <div class="flex gap-5">
      <button
        class="btn-secondary bg-primary mt-6 text-[15px] tracking-[1px] py-1 w-full"
        (click)="gotToBack.emit(1)"
      >
        Back
      </button>
      <button
        class="btn-secondary mt-6 text-[16px] tracking-[1px] py-2 w-full"
        (click)="createAppointmentAndPayment()"
      >
        {{ loading ? "Loading..." : "Confirm & Pay" }}
      </button>
    </div>
  </div>
</div>
