
<div class="overflow-hidden" class="doctor-dashboard_midcontent_container">

    <div class=" doctor-dashboard_midcontent_container w-ful">
        <div class="flex items-center justify-left">
          <div class="w-full  bg-white">
      
            <div class="relative overflow-x-auto  sm:rounded-lg px-8 py-6">
              <div class=" flex gap-4 items-center justify-between">
                <h1 class="dashbord-heading-text text-[22px] "> <i class="fa-solid fa-building-columns mr-1"></i>
                  Appointments
                </h1>
              </div>
      
              <div class="w-full mt-6">
                <app-all-appointments [id]="doctorId" [user]="'doctor'"></app-all-appointments>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>



