<div
  class="bg-hero-pattern max-h-full 3xl:pt-14 3xl:pb-20 py-10 flex relative overflow-hidden w-full bg-[#f2f6f6]"
>
  <div class="container">
    <div class="w-full flex justify-between gap-8 mt-16">
      <div [class]="userRole === 'agent' ? 'w-full' : 'w-[75%] 3xl:w-[70%]'">
        <div
          class="w-full h-[350px] 3xl:h-[450px] overflow-hidden bg-white border-[1px] rounded-xl shadow-secondary"
        >
          <div class="swiper w-full h-full">
            <div class="swiper-wrapper !w-full h-full">
              <div class="swiper-slide !w-full h-full">
                <img
                  class="object-cover w-full h-full"
                  src="/assets/banner/b-4.jpg"
                  alt="banner"
                />
              </div>
              <!-- <div class="swiper-slide !w-full h-full">
                <img
                  class="object-cover w-full h-full"
                  src="/assets/banner/about-banner.webp"
                  alt="banner"
                />
              </div> -->
             
              <div class="swiper-slide !w-full h-full">
                <img
                  class="object-cover w-full h-full"
                  src="/assets/banner/b-2.jpg"
                  alt="banner"
                />
              </div>
              <div class="swiper-slide !w-full ">
                <img
                  class="object-cover w-full h-full"
                  src="/assets/banner/b-3.jpg"
                  alt="banner"
                />
              </div>
              <div class="swiper-slide !w-full ">
                <img
                  class="object-cover w-full h-full"
                  src="/assets/banner/b-4.jpg"
                  alt="banner"
                />
              </div>

            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>

        <div
          [ngClass]="userRole === 'agent' ? 'w-[60%] mx-auto' : 'w-full'"
          class="search-area mt-5 flex backdrop-blur-sm border-secondary-dark/30 border-[1px] bg-white max-w-full p-2 justify-between rounded-[10px] items-centershadow-blue"
        >
          <form [formGroup]="searchForm" class="w-full flex gap-3">
            <input
              class="w-full py-1 px-3 text-base font-normal text-[14px] text-[#6B7280] outline-none"
              type="search"
              formControlName="searchText"
              placeholder="Search Doctor by Name..."
            />
          </form>
          <button
            class="btn-secondary bg-primary py-2.5 rounded-[6px] min-w-[170px]"
            (click)="goToServicePage()"
          >
            <i class="fa-solid fa-magnifying-glass mr-2"></i> Find Doctor
          </button>
        </div>
      </div>

      <div
        *ngIf="userRole !== 'agent'"
        class="max-w-[350px] 3xl:max-w-[380px] flex h-full flex-col"
      >
        <div
          *ngIf="authUser?.userType !== 'agent'"
          class="border-secondary rounded-lg p-4 border-[1px] backdrop-blur-md h-[430px] 3xl:h-[530px] max-w-full bg-white/10"
        >
          <div
            class="p-8 bg-white/30 w-full h-full flex items-center justify-center flex-col relative rounded-md text-center"
          >
            <img
              class="max-w-[100px] pb-6"
              src="/assets/banner/sg-icon.png"
              alt="icon"
            />
            <h1
              class="font-Roboto text-primary text-center text-[30px] font-bold"
              *ngIf="!authUser"
            >
              Easy Login/Registration
            </h1>
            <p
              *ngIf="!authUser"
              class="font-Roboto text-secondary-dark text-center text-[20px] my-3"
            >
              Doctor & Patient
            </p>
            <h1
              class="font-Roboto text-primary text-center text-[28px] mt-5 font-bold"
              *ngIf="authUser"
            >
              Manage Your Appointment
            </h1>
            <div
              class="flex justify-evenly items-end gap-4 mt-5"
              *ngIf="!authUser"
            >
              <button
                class="btn-secondary w-1/2 border-secondary-dark/40 text-[18px]"
                routerLink="login"
              >
                Login
              </button>
              <button
                class="btn-secondary bg-primary w-1/2 text-[18px]"
                routerLink="signup"
              >
                Registration
              </button>
            </div>
            <div
              class="flex justify-evenly items-end gap-4 mt-5"
              *ngIf="authUser"
            >
              <button
                [routerLink]="authUser.userType"
                class="btn-secondary bg-primary w-full border-secondary-dark/40 text-[18px]"
              >
                <i class="fa-solid fa-border-none mr-2"></i>Goto Dashboard
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-8 gap-5 mt-6">
      <div
        class="max-w-[150px] h-[140px] flex flex-col gap-3 justify-center items-center p-3 bg-white/80 border-[1px] border-secondary-dark/40 rounded-md shadow-secondary"
      >
        <img
          class="max-w-[50px]"
          src="/assets/banner/ambulance.png"
          alt="ambulance"
        />
        <h2
          class="font-Roboto text-[16px] block text-center font-semibold text-primary"
        >
          <span>Ambulance Service</span>
        </h2>
      </div>
      <div
        class="max-w-[150px] h-[140px] flex flex-col gap-3 justify-center items-center p-3 bg-white/80 border-[1px] border-secondary-dark/40 rounded-md shadow-secondary"
      >
        <img
          class="max-w-[60px]"
          src="/assets/banner/diagn.png"
          alt="ambulance"
        />
        <h2
          class="font-Roboto text-[16px] block text-center font-semibold text-primary"
        >
          <span>Diagnostic Centre</span>
        </h2>
      </div>
      <div
        class="max-w-[150px] h-[140px] flex flex-col gap-3 justify-center items-center p-3 bg-white/80 border-[1px] border-secondary-dark/40 rounded-md shadow-secondary"
      >
        <img
          class="max-w-[50px]"
          src="/assets/banner/medicine.png"
          alt="ambulance"
        />
        <h2
          class="font-Roboto text-[16px] block text-center font-semibold text-primary"
        >
          <span>
            Order <br />
            Medicine
          </span>
        </h2>
      </div>

      <div
        class="max-w-[150px] h-[140px] flex flex-col gap-3 justify-center items-center p-3 bg-white/80 border-[1px] border-secondary-dark/40 rounded-md shadow-secondary"
      >
        <img
          class="max-w-[50px]"
          src="/assets/banner/hospital.webp"
          alt="ambulance"
        />
        <h2
          class="font-Roboto text-[16px] block text-center font-semibold text-primary"
        >
          <span>
            Book <br />
            hospital
          </span>
        </h2>
      </div>
      <div
        class="max-w-[150px] h-[140px] flex flex-col gap-3 justify-center items-center p-3 bg-white/80 border-[1px] border-secondary-dark/40 rounded-md shadow-secondary"
      >
        <img
          class="max-w-[50px]"
          src="/assets/banner/product.png"
          alt="ambulance"
        />
        <h2
          class="font-Roboto text-[16px] block text-center font-semibold text-primary"
        >
          <span>
            Medical <br />
            Products</span
          >
        </h2>
      </div>
      <div
        class="max-w-[150px] h-[140px] flex flex-col gap-3 justify-center items-center p-3 bg-white/80 border-[1px] border-secondary-dark/40 rounded-md shadow-secondary"
      >
        <img
          class="max-w-[50px]"
          src="/assets/banner/donate.jpg"
          alt="ambulance"
        />
        <h2
          class="font-Roboto text-[16px] block text-center font-semibold text-primary"
        >
          <span>Donate or <br />Get Blood</span>
        </h2>
      </div>
      <div
        class="max-w-[150px] h-[140px] flex flex-col gap-3 justify-center items-center p-3 bg-white/80 border-[1px] border-secondary-dark/40 rounded-md shadow-secondary"
      >
        <img
          class="max-w-[50px]"
          src="/assets/banner/spe.png"
          alt="ambulance"
        />
        <h2
          class="font-Roboto text-[16px] block text-center font-semibold text-primary"
        >
          <span
            >Book <br />
            Specialist</span
          >
        </h2>
      </div>
      <div
        class="max-w-[150px] h-[140px] flex flex-col gap-3 justify-center items-center p-3 bg-white/80 border-[1px] border-secondary-dark/40 rounded-md shadow-secondary"
      >
        <img
          class="max-w-[50px]"
          src="/assets/banner/test.png"
          alt="ambulance"
        />
        <h2
          class="font-Roboto text-[16px] block text-center font-semibold text-primary"
        >
          <span
            >Medical <br />
            Test</span
          >
        </h2>
      </div>
    </div>
  </div>
</div>
