<div class="bg-hero-pattern w-full h-screen bg-[#f2f6f6] t-20">
    <div class="container">
        <div class="w-full h-screen  flex justify-between items-center">
            <div class="flex flex-col">
                <div class="banner-left w-1/2 sm:w-full">
                    <div class="banner-left-top relative">
                        <h1 class="leading-[1.2]  text-[48px] font-Roboto font-bold text-primary tracking-[1.2px]">
                            Consult <span class="text-secondary">Best Doctors</span> from <br>Your Home</h1>
                        <p class="mt-4 font-poppins font-medium text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet.
                            lorm10
    
                        </p>
                        <!-- <img class="absolute left-40" src="../../../../../../assets/banner/down-arrow-img.png" alt="">/ -->
                        <button class="btn-secondary mt-7 text-[16px] ">Start a Consult</button>

                    </div>
                    <div class="banner-left-bottom mt-16 absolute w-[800px]">
                        <div class="search-area flex bg-white justify-between rounded-md py-3 pl-5 pr-3 shadow-xl ">
                            <input type="text" placeholder="Search Doctor or Hospital">
                            <input type="text" placeholder="Your location">
                            <input type="text" placeholder="Date">
                            <button class="btn-secondary"> Search </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-rught w-1/2 flex justify-end relative">
                <img src="../.../../../../../../../assets/banner/banner-img.png"  class="w-[500px]" alt="banner">
                <img class="w-fit h-fit absolute top-52 left-16"  src="../../../../../../assets/banner/banner-img1.png" alt="">
                <img class="w-fit h-fit absolute top-14 -right-16" src="../../../../../../assets/banner/banner-img2.png" alt="">
                <img class="w-fit h-fit absolute bottom-0 right-20" src="../../../../../../assets/banner/banner-img3.png" alt="">
            </div>

        </div>

    </div>
</div>