.btn-secondary:hover {
    color: #0e82fd;
    border-color: #0e82fd;
    background-color: #cc2b2b;
    box-shadow: inset 0 0 0 50px #fff;
    -webkit-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
}

.bg-hero-pattern{
    background-size: cover;
    background-position: bottom center;
}

.swiper-button-prev.service,
.swiper-button-next.service
{
    background: #30bced;
    opacity: 1!important;
}
.swiper-button-prev.service::after,
.swiper-button-next.service::after
{
   font-size: 24px;
   color: white!important;
   opacity: 1!important;
}