<div class="doctor-dashboard_midcontent_container">
  <!-- <div class="font-medium text-gray-900 text-left text-[28px] h-32 bg-white">
    <img src="../../../../../assets/doctor/dr-cover.jpg" class="w-full object-cover h-full" alt="">
  </div> -->
  <div class=" mx-auto ">
    <div>
      <div class="bg-white relative shadow rounded-lg w-full mx-auto">
        <div class="p-10 pt-8">
          <div class="flex justify-between items-center">
            <div class="flex justify-left items-center gap-6 ">
              <div class="relative w-[128px]  h-[128px] bg-white transition ">
                <img [src]="url ? url : '../../../../../assets/doctor/dr.jpeg'" alt=""
                     class="object-cover rounded-lg mx-auto  w-32 h-32 shadow-md border-4 border-white ">
                <!--<mat-icon class="icon" fontIcon="edit"></mat-icon>-->
                <input style="display: none" #attachments type="file" #fileInput
                       accept=".gif,.jpg,.jpeg,.png,.doc,.docx,.pdf" multiple>
                <div (click)="openDialog()"
                     class="duration-200 transform hover:scale-110 flex justify-center items-center cursor-pointer  absolute -bottom-[8px] -right-[8px] w-[30px] h-[30px] rounded-full p-1 bg-white z-20 border-[1px]">
                  <i class="fa-solid fa-camera text-primary"></i>
                </div>
              </div>
              <div>
                <h1 class="font-bold text-left text-3xl text-gray-900 dashbord-heading-text">
                  {{profileInfo?.fullName}}
                </h1>
                <p class="text-left text-sm text-gray-400 mt-2 font-medium dashbord-heading-subtext">
                  {{getTitle(profileInfo?.doctorTitle)}}
                </p>
              </div>
            </div>

            <div>
              <button class="btn-secondary ">
                View Profile
              </button>
            </div>
          </div>



          <mat-stepper (selectionChange)="onchangeStep($event)" #stepper class="mt-7  mx-auto"
                       [selectedIndex]="activeTab">
            <mat-step [stepControl]="firstFormGroup" label="Basic Info">
              <!-- <app-basic-info (profileData)="getProfileData($event)" (formDataEvent)="handleFormData($event)"
                [isLoading]='isLoading'></app-basic-info> -->
              <app-basic-info (formDataEvent)="handleFormData($event)"
                              [isLoading]='isLoading'></app-basic-info>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="Education" [ariaSelected]="activeTab">
              <app-education-info></app-education-info>
            </mat-step>
            <mat-step label="Specializations">
              <app-specialization-info></app-specialization-info>
            </mat-step>
            <mat-step label="Documents">
              <app-documents></app-documents>
            </mat-step>
          </mat-stepper>

        </div>
      </div>
    </div>
  </div>
</div>
