<!-- <span class="inline-flex items-center justify-center px-2 py-0.5 ml-3 text-xs font-medium text-gray-500 bg-gray-200 rounded dark:bg-gray-700 dark:text-gray-400">Popular</span> -->

<div
    class="w-full my-5 p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700 m-auto">

    <h5 class=" text-base font-semibold text-gray-900 md:text-xl dark:text-white">
        Dr. Azizur Rahman
    </h5>
    <p class="text-sm font-normal text-gray-500 dark:text-gray-400">General Medicine</p>
    <div>
        <div class="relative overflow-x-auto">
            <table class="w-full mt-6 text-sm text-left text-gray-500 dark:text-gray-400">
                <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Patient name: 
                        </th>
                        <td class="py-2">
                            {{bookingInfo?.patientName}}
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class=" py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Appointment Day :
                        </th>
                        <td class=" py-2">
                            {{bookingInfo?.scheduleDayofWeek}}
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class=" py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Appointment Date :
                        </th>
                        <td class="py-2">
                            02/25/2023
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class=" py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Consultancy type :
                        </th>
                        <td class="py-2">
                            Hospital visit
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class=" py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Hospital name :
                        </th>
                        <td class="py-2">
                            Dhaka medical college, Dhaka
                        </td>
                    </tr>
                    <tr class="bg-white dark:bg-gray-800">
                        <th scope="row" class=" py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Doctor Fee :
                        </th>
                        <td class=" py-2 ">
                            {{bookingInfo?.totalAppointmentFee}} tk.
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn-secondary mt-6 text-[16px] tracking-[1px] py-2 w-full" (click)="payWithSslCommerz()">Confirm</button>
        </div>

    </div>
</div>
