<!-- <div class="animation-ctn">
    <div class="icon icon--order-success svg">
      <svg xmlns="http://www.w3.org/2000/svg" width="154px" height="154px">
          <g fill="none" stroke="#22AE73" stroke-width="2">
            <circle cx="77" cy="77" r="72" style="stroke-dasharray:480px, 480px; stroke-dashoffset: 960px;"></circle>
            <circle id="colored" fill="#22AE73" cx="77" cy="77" r="72" style="stroke-dasharray:480px, 480px; stroke-dashoffset: 960px;"></circle>
            <polyline class="st0" stroke="#fff" stroke-width="10" points="43.5,77.8 63.7,97.9 112.2,49.4 " style="stroke-dasharray:100px, 100px; stroke-dashoffset: 200px;"/>
          </g>
      </svg>
  </div>
</div> -->

<div class="flex justify-center h-screen w-full items-center">

    <div class="lg:w-[60%] flex justify-center flex-col items-center relative">
        <span class="absolute text-[120px] font-extrabold text-primary/5 -z-10 top-6">THANK YOU !</span>
        <img class="w-[200px]" src="/assets/payment/card-payment.svg" alt="">
        <h1 class="font-poppins text-[24px] font-semibold text-primary/80 mt-6">Your Payment is Successful!</h1>
        <p class="mt-4">Thank for your payment. An automated payment recept will be sent your email or phone number.</p>
       <div>
          <div>Transaction ID: 5SD2ASD52</div>
          <div>Total Payed: 520 tk.</div>
          <div>Appointment : Sunday, 2 September 2023 </div>
          <div>Approximate Time : 08.50pm </div>
          <div>Serial Number : 06 </div>
       </div>
        <div class="mt-7">
            <button class="btn-primary">Back to Home</button>
            <button class="btn-primary">Back to Dashboard</button>
        </div>
    </div>

</div>

