<div class="min-w-[900px] max-w-full m-auto">
  <div
    class="bg-white h-full border-gray-200 border-[1px] lg:px-12 p-8 shadow-blue"
  >
    <div class="p-heade">
      <div class="p-head-top flex justify-between">
        <div class="p-heade-top-left">
          <h1 class="dashbord-heading-text text-[24px]">
            Dr. {{ appointmentInfo.doctorName }}
          </h1>
          <!-- <p class="dashbord-heading-subtext">General Medicine</p>
          <p class="dashbord-heading-subtext">
            Dhaka Medical College & Hospital, Dhaka
          </p>
          <p class="dashbord-heading-subtext">BMDC No. : 03210225423</p> -->
        </div>
        <div class="p-heade-top-right"></div>
      </div>
      <form [formGroup]="form">
        <div class="p-head-bottom my-10">
          <div class="flex justify-between">
            <!-- <span>Patient Code : </span> <b> <input type="text" formControlName="patientCode"> </b> -->
            <span>Patient Name : </span>
            <b> <input type="text" formControlName="patientName" /> </b>
            <span>Age :</span>
            <b> <input type="text" formControlName="age" /> </b>
            <span>Blood Group :</span>
            <b> <input type="text" formControlName="bloodGroup" /> </b>
            <span
              >Date : <b> <input [value]="today" /> </b
            ></span>
            <!-- <span>Time :<b> <input [value]="todayTime"> </b></span> -->
          </div>
        </div>
      </form>
    </div>

    <!-- previous documents -->
    <div *ngIf="this.docFileUrl.length > 0">
      <div class="p-body">
        <div class="p-body-item col-span-12">
          <div class="font-Roboto text-[18px] text-primary/90 font-semibold">
            <i class="fa-solid fa-circle-stop text-[16px]"></i>
            Previous Documents
            <div class="badge bg-secondary text-white">
              +{{ this.docFileUrl.length }}
            </div>
          </div>
          <div class="mt-5">
            <p>
              Your patient has
              <strong>{{ this.docFileUrl.length }}</strong> previous documents.
              <span
                (click)="
                  showPreviousDocuments(appointmentInfo.patientProfileId)
                "
                class="badge cursor-pointer"
                >Click to See</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- patientAdditionalInfo -->
    <form [formGroup]="prescriptionForm" class="mt-5">
      <div class="grid grid-cols-3 gap-5">
        <div class="p-body">
          <div class="p-body-item col-span-12 mt-5">
            <div class="font-Roboto text-[18px] text-primary/90 font-semibold">
              <i class="fa-solid fa-circle-stop text-[16px]"></i>
              Patient Additional Info
            </div>
            <div class="mt-5">
              <textarea
                formControlName="patientAdditionalInfo"
                class="w-full p-2 h-[80px] border-2 flex bg-transparent focus:outline-secondary text-[16px]"
                placeholder="Write Info"
              >
              </textarea>
            </div>
          </div>
        </div>
        <div class="p-body">
          <div class="p-body-item col-span-12 mt-5">
            <div class="font-Roboto text-[18px] text-primary/90 font-semibold">
              <i class="fa-solid fa-circle-stop text-[16px]"></i>
              Patient Life Style
            </div>
            <div class="mt-5">
              <textarea
                formControlName="lifeStyle"
                class="w-full p-2 h-[80px] border-2 flex bg-transparent focus:outline-secondary text-[16px]"
                placeholder="Write Lifestyle"
              >
              </textarea>
            </div>
          </div>
        </div>
        <div class="p-body">
          <div class="p-body-item col-span-12 mt-5">
            <div class="font-Roboto text-[18px] text-primary/90 font-semibold">
              <i class="fa-solid fa-circle-stop text-[16px]"></i>
              Patient History
            </div>

            <div class="mt-3">
              <mat-chip-grid #chipGrid>
                <mat-chip-row
                  *ngFor="let history of histories"
                  (removed)="remove(history)"
                >
                  {{ history }}
                  <button matChipRemove [attr.aria-label]="'remove ' + history">
                    <i class="fa-solid fa-circle-minus text-white"></i>
                  </button>
                </mat-chip-row>
              </mat-chip-grid>
              <input
                placeholder="Add History"
                #diseaseInput
                formControlName="history"
                class="w-full mt-1 px-3 py-2 border-[1px] text-[16px] text-primary font-Roboto focus:outline-secondary"
                [matChipInputFor]="chipGrid"
                [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                (optionSelected)="selected($event)"
              >
                <mat-option
                  *ngFor="
                    let option of filteredDisease[0] | async;
                    let i = index
                  "
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
      </div>
      <!-- History start -->

      <!-- Compliments start -->
      <div class="p-body" id="complients">
        <div class="p-body-item col-span-12 mt-7">
          <div class="font-Roboto text-[18px] text-primary/90 font-semibold">
            <i class="fa-solid fa-circle-stop text-[16px]"></i>
            Chief Complaints
          </div>
          <table class="table text-gray-400 border-separate space-y-6 text-sm">
            <thead
              class="bg-primary/90 font-Roboto text-[15px] font-normal rounded-[20px] text-gray-50 overflow-hidden"
            >
              <tr class="rounded-lg">
                <th
                  class="p-3 font-normal border-white border-r-secondary-light border-[1px]"
                >
                  <i class="fa-solid fa-circle-info mr-1.5 text-secondary"></i>
                  Symptom
                </th>
                <th
                  class="p-3 font-normal border-white border-r-secondary-light border-[1px]"
                >
                  <i class="fa-solid fa-clock mr-1.5 text-secondary"></i
                  >Duration
                </th>
                <th
                  class="p-3 font-normal border-white border-r-secondary-light border-[1px]"
                >
                  <i class="fa-regular fa-keyboard mr-1.5 text-secondary"></i>
                  Problem
                </th>
                <th
                  class="p-3 font-normal border-white border-r-secondary-light border-[1px]"
                >
                  <i class="fa-solid fa-comment mr-1.5 text-secondary"></i>
                  Comments
                </th>
                <th
                  class="p-3 font-normal border-white border-r-secondary-light border-[1px]"
                >
                  <i
                    class="fa-solid fa-computer-mouse mr-1.5 text-secondary"
                  ></i
                  >Action
                </th>
              </tr>
            </thead>
            <tbody formArrayName="chiefComplaints">
              <tr
                class="bg-gray-50"
                *ngFor="
                  let complaint of chiefComplaints.controls;
                  let i = index
                "
                [formGroupName]="i"
              >
                <td class="p-0 w-[22%] relative">
                  <input
                    placeholder="Select Symptoms"
                    formControlName="symptom"
                    [class]="
                      formSubmitted && complaint.get('symptom')?.invalid
                        ? 'border-red-500 border-[1px] w-full bg-transparent p-2 h-[47px] text-[16px] text-primary font-Roboto focus:outline-red-500'
                        : 'w-full bg-transparent p-2 h-[47px] text-[16px] text-primary font-Roboto focus:outline-secondary'
                    "
                  />
                </td>

                <td class="p-0 w-[10%]">
                  <div class="flex w-full">
                    <input
                      formControlName="durationDay"
                      class="w-[50px] h-[47px] px-3 py-2 border-r-[1px] text-[16px] text-primary font-Roboto focus:outline-secondary"
                      value="1"
                    />
                    <mat-select
                      [value]="'day'"
                      formControlName="durationTime"
                      class="text-[16px] text-primary font-Roboto placeholder:text-primary focus:outline-secondary"
                    >
                      <mat-option value="day">Day</mat-option>
                      <mat-option value="week">Week</mat-option>
                      <mat-option value="month">Month</mat-option>
                      <mat-option value="year">Year</mat-option>
                    </mat-select>
                  </div>
                </td>
                <td class="p-0 w-[22%]">
                  <input
                    formControlName="problems"
                    [class]="
                      formSubmitted && complaint.get('problems')?.invalid
                        ? 'border-red-500 border-[1px] w-full bg-transparent p-2 h-[47px] text-[16px] text-primary font-Roboto focus:outline-red-500'
                        : 'w-full bg-transparent p-2 h-[47px] text-[16px] text-primary font-Roboto focus:outline-secondary'
                    "
                    placeholder="Problems"
                  />
                </td>
                <td class="p-0 w-[22%]">
                  <textarea
                    formControlName="physicianRecommendedAction"
                    class="w-full p-2 h-[47px] flex bg-transparent focus:outline-secondary text-[16px]"
                    placeholder="Write comment"
                  ></textarea>
                </td>
                <td class="p-0 w-[2%]">
                  <div
                    class="flex justify-center items-center h-[47px] text-white"
                  >
                    <button
                      [disabled]="i === 0"
                      type="button"
                      (click)="removeChiefComplaint(i)"
                    >
                      <i
                        class="fa-solid fa-trash"
                        [class]="i == 0 ? 'text-gray-500' : 'text-primary'"
                      ></i>
                    </button>
                  </div>
                </td>
              </tr>
              <button
                class="border-[1px] text-secondary border-secondary py-2 px-4 rounded-md"
                [disabled]="chiefComplaints.invalid"
                [class]="
                  chiefComplaints.invalid
                    ? 'opacity-50 selection:invalid:text-red-300'
                    : 'opacity-1'
                "
                (click)="addChiefComplaint()"
              >
                Add More Complaints
              </button>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Findings/ On Examination* start -->
      <div class="p-body" id="findings">
        <div class="p-body-item col-span-12 mt-5">
          <div class="font-Roboto text-[18px] text-primary/90 font-semibold">
            <i class="fa-solid fa-circle-stop text-[16px]"></i>
            Findings / On Examination
          </div>
          <table class="table text-gray-400 border-separate space-y-6 text-sm">
            <thead
              class="bg-primary/90 font-Roboto text-[15px] font-normal rounded-[20px] text-gray-50 overflow-hidden"
            >
              <tr class="rounded-lg">
                <th
                  class="p-3 font-normal border-white border-r-secondary-light border-[1px]"
                >
                  <i class="fa-solid fa-clock mr-1.5 text-secondary"></i
                  >Observations
                </th>
                <th
                  class="p-3 font-normal border-white border-r-secondary-light border-[1px]"
                >
                  <i class="fa-solid fa-comment mr-1.5 text-secondary"></i>
                  Comments
                </th>
                <th
                  class="p-3 font-normal border-white border-r-secondary-light border-[1px]"
                >
                  <i
                    class="fa-solid fa-computer-mouse mr-1.5 text-secondary"
                  ></i
                  >Action
                </th>
              </tr>
            </thead>
            <tbody formArrayName="findings">
              <tr
                class="bg-gray-50"
                *ngFor="let finding of findings.controls; let i = index"
                [formGroupName]="i"
              >
                <td class="p-0">
                  <input
                    type="text"
                    placeholder="Observation"
                    [class]="
                    formSubmitted && finding.get('observation')?.invalid
                      ? 'border-red-500 border-[1px] w-full bg-transparent p-2 h-[47px] text-[16px] text-primary font-Roboto focus:outline-red-500'
                      : 'w-full bg-transparent p-2 h-[47px] text-[16px] text-primary font-Roboto focus:outline-secondary'
                  "
                    formControlName="observation"
                  />
                </td>

                <td class="p-0">
                  <textarea
                    formControlName="comments"
                    class="w-full p-2 h-[47px] flex bg-transparent focus:outline-secondary text-[16px]"
                    placeholder="Write comment"
                  ></textarea>
                </td>
                <td class="p-0">
                  <div
                    class="flex justify-center items-center h-[47px] text-white"
                  >
                    <button
                      [disabled]="i === 0"
                      type="button"
                      (click)="removeFindings(i)"
                    >
                      <i
                        class="fa-solid fa-trash"
                        [class]="i == 0 ? 'text-gray-500' : 'text-primary'"
                      ></i>
                    </button>
                  </div>
                </td>
              </tr>
              <button
                class="border-[1px] text-secondary border-secondary py-2 px-4 rounded-md"
                [disabled]="findings.invalid"
                [class]="
                  findings.invalid
                    ? 'opacity-50 selection:invalid:text-red-300'
                    : 'opacity-1'
                "
                (click)="addFindings()"
              >
                Add More Findings
              </button>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Medication & Schedule * start -->
      <div class="p-body" id="medicine">
        <div class="p-body-item col-span-12 mt-5">
          <div class="flex justify-between">
            <h1 class="font-Roboto text-[18px] text-primary/90 font-semibold">
              <i class="fa-solid fa-circle-stop text-[16px]"></i> Medication &
              Schedule
            </h1>
          </div>

          <table class="table text-gray-400 text-sm border-separate">
            <thead
              class="bg-primary/90 font-Roboto text-[15px] font-normal rounded-[20px] text-gray-50 overflow-hidden"
            >
              <tr class="rounded-lg">
                <th
                  class="p-3 font-normal border-white border-r-secondary-light border-[1px]"
                >
                  <i class="fa-solid fa-circle-info mr-1.5 text-secondary"></i>
                  Medicine Name
                </th>
                <th
                  class="p-3 font-normal border-white border-r-secondary-light border-[1px]"
                >
                  <i class="fa-solid fa-clock mr-1.5 text-secondary"></i
                  >Duration
                </th>
                <th
                  class="p-3 font-normal border-white border-r-secondary-light border-[1px]"
                >
                  <i class="fa-regular fa-keyboard mr-1.5 text-secondary"></i>
                  Schedule/Timing
                </th>
                <th
                  class="p-3 font-normal border-white border-r-secondary-light border-[1px]"
                >
                  <i class="fa-solid fa-comment mr-1.5 text-secondary"></i>
                  Comments
                </th>
                <th
                  class="p-3 font-normal border-white border-r-secondary-light border-[1px]"
                >
                  <i
                    class="fa-solid fa-computer-mouse mr-1.5 text-secondary"
                  ></i
                  >Action
                </th>
              </tr>
            </thead>
            <tbody formArrayName="medicineSchedule">
              <tr
                class="bg-gray-50"
                *ngFor="
                  let medicine of medicineSchedule.controls;
                  let i = index
                "
                [formGroupName]="i"
              >
                <td class="p-0 w-[30%]">
                  <input
                    placeholder="Select medicine"
                    formControlName="drugName"
                    [matAutocomplete]="auto"
                    [class]="
                    formSubmitted && medicine.get('drugName')?.invalid
                      ? 'border-red-500 border-[1px] w-full bg-transparent p-2 h-[47px] text-[16px] text-primary font-Roboto focus:outline-red-500'
                      : 'w-full bg-transparent p-2 h-[47px] text-[16px] text-primary font-Roboto focus:outline-secondary'
                  "
                    />
                  <!-- <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions[i] | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete> -->

                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option
                      *ngFor="let option of filteredMedicine[i] | async"
                      [value]="option"
                      >{{ option }}</mat-option
                    >
                  </mat-autocomplete>
                </td>

                <td class="p-0 w-[12%]">
                  <div class="flex w-full">
                    <input
                      formControlName="durationDay"
                      class="w-[50px] h-[47px] bg-transparent px-3 py-2 border-r-[1px] text-[16px] text-primary font-Roboto focus:outline-secondary"
                      value="1"
                    />
                    <mat-select
                      [value]="'day'"
                      formControlName="durationTime"
                      class="text-[16px] text-primary font-Roboto placeholder:text-primary focus:outline-secondary"
                    >
                      <mat-option value="day">Day</mat-option>
                      <mat-option value="week">Week</mat-option>
                      <mat-option value="month">Month</mat-option>
                      <mat-option value="year">Year</mat-option>
                    </mat-select>
                  </div>
                </td>

                <td class="p-0">
                  <div class="p-2">
                    <input
                      type="checkbox"
                      [id]="i"
                      class="mr-2"
                      formControlName="specialCaseChecked"
                    />
                    <label [for]="i">Special Case</label>
                  </div>
                  <div class="flex">
                    <mat-select
                      formControlName="drugDoseSchedule"
                      placeholder="Select timing"
                      [class]="formSubmitted && medicine.get('drugDoseSchedule')?.invalid ? 'border-red-500 border-[1px] text-[16px]  p-1 text-primary font-Roboto placeholder:text-primary focus:outline-secondary' : 'text-[16px] border-[1px] p-1 text-primary font-Roboto placeholder:text-primary focus:outline-secondary'"
                    >
                      <mat-option value="1 + 1 + 1"> 1 + 1 + 1</mat-option>
                      <mat-option value="1 + 1 + 0">1 + 1 + 0</mat-option>
                      <mat-option value="1 + 0 + 0">1 + 0 + 0</mat-option>
                      <mat-option value="0 + 1 + 1">0 + 1 + 1</mat-option>
                      <mat-option value="0 + 0 + 1">0 + 0 + 1</mat-option>
                      <mat-option value="0 + 1 + 0">0 + 1 + 0</mat-option>
                      <mat-option value="1 + 0 + 1">1 + 0 + 1</mat-option>
                    </mat-select>

                    <mat-select
                      multiple
                      formControlName="drugDoseScheduleDays"
                      placeholder="Select Day"
                      class="text-[16px] border-[1px] p-1 text-primary font-Roboto placeholder:text-primary focus:outline-secondary"
                      *ngIf="medicine.get('specialCaseChecked')?.value"
                    >
                      <mat-option value="Sun"> Sun</mat-option>
                      <mat-option value="Mon">Mon</mat-option>
                      <mat-option value="Tue">Tue</mat-option>
                      <mat-option value="Wed">Wed</mat-option>
                      <mat-option value="Thu">Thu</mat-option>
                      <mat-option value="Fri">Fri</mat-option>
                      <mat-option value="Sat">Sat</mat-option>
                    </mat-select>
                  </div>
                </td>
                <td class="p-0 w-[22%]">
                  <textarea
                    formControlName="instruction"
                    class="w-full p-2 h-[84px] flex bg-transparent focus:outline-secondary text-[16px]"
                    placeholder="Write comment"
                  ></textarea>
                </td>
                <td class="p-0 w-[2%]">
                  <div
                    class="flex justify-center items-center h-[47px] text-white"
                  >
                    <button
                      [disabled]="i === 0"
                      type="button"
                      (click)="removeMedicineSchedule(i)"
                    >
                      <i
                        class="fa-solid fa-trash"
                        [class]="i == 0 ? 'text-gray-500' : 'text-primary'"
                      ></i>
                    </button>
                  </div>
                </td>
              </tr>
              <!-- <button class="border-[1px] text-secondary border-secondary py-2 px-4 rounded-md"
              [disabled]="medicineSchedule.invalid"
              [class]="medicineSchedule.invalid ? 'opacity-50 selection:invalid:text-red-300' : 'opacity-1'"
                (click)="addMedicineSchedule()"> Add More Medicine
              </button> -->

              <button
                class="border-[1px] text-secondary border-secondary py-2 px-4 rounded-md"
                (click)="addMedicineSchedule()"
              >
                Add More Medicine
              </button>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Diagnosis * start -->
      <div class="p-body">
        <div class="p-body-item col-span-12 mt-5">
          <div class="font-Roboto text-[18px] text-primary/90 font-semibold">
            <i class="fa-solid fa-circle-stop text-[16px]"></i>
            Diagnosis*
          </div>
          <table class="table text-gray-400 border-separate space-y-6 text-sm">
            <thead
              class="bg-primary/90 font-Roboto text-[15px] font-normal rounded-[20px] text-gray-50 overflow-hidden"
            >
              <tr class="rounded-lg">
                <th
                  class="p-3 font-normal border-white border-r-secondary-light border-[1px]"
                >
                  <i class="fa-solid fa-clock mr-1.5 text-secondary"></i>Test
                </th>
                <th
                  class="p-3 font-normal border-white border-r-secondary-light border-[1px]"
                >
                  <i class="fa-solid fa-comment mr-1.5 text-secondary"></i>
                  Comments
                </th>
                <th
                  class="p-3 font-normal border-white border-r-secondary-light border-[1px]"
                >
                  <i
                    class="fa-solid fa-computer-mouse mr-1.5 text-secondary"
                  ></i
                  >Action
                </th>
              </tr>
            </thead>
            <tbody formArrayName="diagnosis">
              <tr
                class="bg-gray-50"
                *ngFor="let diagnosis of diagnosis.controls; let i = index"
                [formGroupName]="i"
              >
                <td class="p-0">
                  <input
                    type="text"
                    placeholder="Test name"
                    class="w-full p-2 h-[47px] text-[16px] text-primary font-Roboto focus:outline-secondary"
                    formControlName="testName"
                  />
                </td>

                <td class="p-0">
                  <textarea
                    formControlName="comments"
                    class="w-full p-2 h-[47px] flex bg-transparent focus:outline-secondary text-[16px]"
                    placeholder="Write comment"
                  ></textarea>
                </td>
                <td class="p-0">
                  <div
                    class="flex justify-center items-center h-[47px] text-white"
                  >
                    <button
                      [disabled]="i === 0"
                      type="button"
                      (click)="removeDiagnosis(i)"
                    >
                      <i
                        class="fa-solid fa-trash"
                        [class]="i == 0 ? 'text-gray-500' : 'text-primary'"
                      ></i>
                    </button>
                  </div>
                </td>
              </tr>
              <button
                class="border-[1px] text-secondary border-secondary py-2 px-4 rounded-md"
                [disabled]="diagnosis.invalid"
                [class]="
                  diagnosis.invalid
                    ? 'opacity-50 selection:invalid:text-red-300'
                    : 'opacity-1'
                "
                (click)="addDiagnosis()"
              >
                Add More Diagnosis
              </button>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Follow us & Advice * start -->
      <div class="p-body">
        <div class="grid grid-cols-2 gap-4">
          <div class="p-body-item mt-5">
            <div class="font-Roboto text-[18px] text-primary/90 font-semibold">
              <i class="fa-solid fa-circle-stop text-[16px]"></i>
              Follow Up
            </div>
            <table
              class="table text-gray-400 border-separate space-y-6 text-sm"
            >
              <thead
                class="bg-primary/90 font-Roboto text-[15px] font-normal rounded-[20px] text-gray-50 overflow-hidden"
              >
                <tr class="rounded-lg">
                  <th
                    class="p-3 font-normal border-white border-r-secondary-light border-[1px]"
                  >
                    <i class="fa-solid fa-clock mr-1.5 text-secondary"></i
                    >Doctor Advice
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-gray-50">
                  <td class="p-0">
                    <input
                      type="date"
                      formControlName="followUp"
                      class="w-full p-2 h-[47px] text-[16px] text-primary font-Roboto focus:outline-secondary"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="p-body-item mt-5">
            <div class="font-Roboto text-[18px] text-primary/90 font-semibold">
              <i class="fa-solid fa-circle-stop text-[16px]"></i>
              Advice*
            </div>
            <table
              class="table text-gray-400 border-separate space-y-6 text-sm"
            >
              <thead
                class="bg-primary/90 font-Roboto text-[15px] font-normal rounded-[20px] text-gray-50 overflow-hidden"
              >
                <tr class="rounded-lg">
                  <th class="p-3 font-normal text-left">
                    <i class="fa-solid fa-clock mr-1.5 text-secondary"></i
                    >Doctor Advice
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-gray-50">
                  <td class="p-0">
                    <textarea
                      formControlName="advice"
                      class="w-full p-2 h-[100px] flex bg-transparent focus:outline-secondary text-[16px]"
                      placeholder="Write comment"
                    ></textarea>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>

    <div class="btns flex justify-center mt-6">
      <button
        class="btn-secondary rounded-[25px]"
        (click)="submitPrescription()"
      >
        <div *ngIf="!prescriptionLoader" class="flex">
          <span>Send to Patient</span>
        </div>
        <span
          *ngIf="prescriptionLoader"
          class="loading loading-dots loading-md"
        ></span>
      </button>
    </div>
  </div>
</div>
