<div class="">
  <div class="">Showing page {{page}} </div>
  <div class="">Records per page </div>
  <select class="form-select" style="height:40px !important; width:80px !important"
          [(ngModel)]="pageSize"
          (ngModelChange)="pageSizeChanged($event)">
    <option *ngFor="let pageSizeValue of pageSizeValues" [ngValue]="pageSizeValue">{{pageSizeValue}}</option>
  </select>
  <ngb-pagination class=""
                  [collectionSize]="collectionSize"
                  [pageSize]="pageSize"
                  [(page)]="page"
                  (pageChange)="pageChanged($event)"
                  [rotate]="true"
                  [maxSize]="5">
  </ngb-pagination>
</div>
<!--style="border-radius: 0.42rem; border: solid 1px #009EF7;"-->
