<div class="w-full bg-gray-100 main_right border-l-[1px] relative  border-box">
   <h2 class="dashbord-heading-text border-b-[1px] p-5 bg-white max-h-[70px] min-h-[70px]">Profile</h2>
<div class="box-border">
    <div class="card w-full bg-base-100 border-b-[1px]">
        <figure class="px-10 pt-10">
          <img src="../../../../../assets/doctor/dr.jpeg" alt="Shoes" class="rounded-full w-[100px] h-[100px] object-cover border-4 border-gray-300 " />
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title">Pro. DR. Mizanur Rahman</h2>
          <p>General | Cardiologist</p>
          <div class="card-actions mt-4  ">
            <div class="border-r-[1px] pr-3">
               <h5 class="dashbord-heading-subtext">Total Patients</h5>
               <h1 class="dashbord-heading-text">563+</h1>
            </div>
            <div>
              <h5 class="dashbord-heading-subtext">Total Reviews</h5>
              <h1 class="dashbord-heading-text">563+</h1>
           </div>
          </div>
        </div>
      </div>
</div>
</div>