<div class="w-full relative">
  <app-filter
    [filterInput]="filterInput"
    [filterForm]="filter"
    [from]="'appointment'"
  ></app-filter>
  <div class="flex gap-4 items-center justify-between px-6 pb-6">
    <h1 class="dashbord-heading-text text-[22px]">
      <i class="fa-solid fa-building-columns mr-1"></i>
      Appointments
    </h1>
  </div>
  <div
    *ngIf="skelton"
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 2xl:grid-cols-4 gap-10 flex-wrap"
  >
    <app-skeleton></app-skeleton>
    <app-skeleton></app-skeleton>
    <app-skeleton></app-skeleton>
    <app-skeleton></app-skeleton>
    <app-skeleton></app-skeleton>
    <app-skeleton></app-skeleton>
    <app-skeleton></app-skeleton>
    <app-skeleton></app-skeleton>
  </div>

  <div
    *ngIf="noDataAvailable"
    class="flex justify-center items-center h-[500px] w-full"
  >
    <div>No records has been found!</div>
  </div>

  <div
    class="grid px-6 grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-10 3xl:grid-cols-4 w-full"
  >
    <!-- [@enter] for animation -->
    @for (appointment of appointmentList; track $index) {

    <div
      class="border-[1px] min-w-[330px] h-fit rounded-md bg-white overflow-hidden"
    >
      <app-appointment-card
        [appointment]="appointment"
        [user]="user"
      ></app-appointment-card>
    </div>
    }@empty {
    <div class="flex justify-center items-center h-[500px] flex-shrink">
      <div>No records has been found!</div>
    </div>
    }
  </div>
  <!-- <div class="flex w-full justify-center py-10">
    <mat-paginator
      class="bg-primary/5 py-2 px-2.5 rounded-xl shadow-2xl shadow-secondary/10"
      [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div> -->
</div>
