<div class="container">
    <div>
        <div class="termsCondition">
            <h1>Privacy Policy</h1>
        
            <div class="termsItem">
                <h2>Information We Collect</h2>
                <ul>
                    <li>Personal Information: When you register for an account or use the Platform, we may collect personal
                        information such as your name, email address, contact information, date of birth, and medical history.
                    </li>
                    <li> Health Information: To provide effective medical consultation, we may collect and process
                        health-related information that you voluntarily provide or share during consultations, including
                        symptoms, medical conditions, and treatment history.</li>
                    <li> Usage Data: We may collect non-personal information about your use of the Platform, such as your IP
                        address, device information, browser type, and operating system. </li>
                </ul>
            </div>
        
        
            <div class="termsItem">
                <h2>Use of Information</h2>
                <ul>
                    <li> Provision of Services: We use your personal information to facilitate and provide access to the
                        Platform, including scheduling appointments, connecting you with healthcare professionals, and maintaining your
                        account.
                    </li>
                    <li> Communication: We may use your contact information to send you important updates, notifications, and
                        administrative messages related to your use of the Platform.</li>
                    <li> Usage Data: We may collect non-personal information about your use of the Platform, such as your IP
                        address, device information, browser type, and operating system. </li>
                    <li>Improving Services: We may analyze usage data and feedback to improve our services, enhance user experience,
                         and develop new features and functionalities.</li>
                    <li>Research and Aggregated Data: We may use anonymized and aggregated data for research purposes,
                        statistical analysis, and industry reporting. This data will not personally identify you.</li>
        
                    <li>Legal Compliance: We may use or disclose your personal information to comply with applicable laws,
                        regulations, legal processes, or enforceable governmental requests.</li>
                </ul>
            </div>
        
        
            <div class="termsItem">
                <h2>Information Sharing</h2>
                <ul>
                    <li> Healthcare Professionals: To facilitate consultations, we may share your personal and health
                        information with licensed healthcare professionals on our platform. They are bound by confidentiality obligations and
                        will only access information necessary for providing medical services.
                    </li>
                    <li> Service Providers: We may engage third-party service providers to assist in operating and maintaining
                        the
                        Platform. These providers are contractually obligated to protect the confidentiality and security of
                        your personal
                        information.</li>
                        <li>Legal Requirements: We may disclose your personal information if required by law or in response to a valid legal request, such as a court order or government inquiry.</li>
                    <li> Business Transfers: In the event of a merger, acquisition, or sale of all or a portion of our assets,
                        your
                        personal information may be transferred as part of the transaction, subject to the terms of this Privacy
                        Policy.</li>
        
                </ul>
            </div>
        
            <div class="termsItem">
                <h2>Data Security</h2>
                <ul>
                    <li> We implement reasonable technical and organizational measures to safeguard your personal information
                        from
                        unauthorized access, disclosure, alteration, or destruction.
                    </li>
                    <li> While we strive to protect your personal information, no method of transmission over the internet or
                        electronic
                        storage is completely secure. We cannot guarantee absolute security, and you provide information at your
                        own risk.</li>
                </ul>
            </div>
        
            <div class="termsItem">
                <h2>Data Retention        </h2>
                <ul>
                    <li> We retain your personal information for as long as necessary to fulfill the purposes outlined in this Policy, unless a longer retention period is required or permitted by law.
        
                    </li>
                    <li> You may request the deletion of your personal information by contacting us using the information provided in the "Contact Us”. Please note that certain information may be retained for legal or legitimate business purposes.</li>
                </ul>
            </div>
        
            <div class="termsItem">
                <h2> Your Rights and Choices</h2>
                <ul>
                    <li>You have the right to access, update, correct, or delete your personal information. You can manage your
                        account
                        settings or contact us to exercise these rights.
                    </li>
                    <li> You may opt-out of receiving promotional communications from us by following the unsubscribe
                        instructions
                        provided in the communication or contacting us</li>
                </ul>
            </div>
        </div>
       
    </div>
</div>
