<div class="p-12 h-[100%]">
  <div class="pb-6">
    <h2 class="text-[20px] font-Roboto text-primary/90">
      <i class="fa-solid fa-address-card mb-3 mr-2"></i> About me
    </h2>
    <p class="max-w-[1000px] min-w-[310px] leading-7 text-gray-500">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ipsam
      laudantium odio assumenda maiores. Veniam, omnis? Deserunt optio debitis
      velit ducimus quis doloribus ipsa atque nulla maiores adipisci, ut, illum
      molestiae, corporis voluptatum porro voluptatem exercitationem praesentium
      accusamus dicta laboriosam. Sint praesentium et consequatur doloremque
      deserunt enim id possimus sunt.
    </p>
  </div>

  <div class="flex pt-10 w-full">
    <div class="pb-6 w-1/3">
      <h2 class="text-[20px] font-Roboto text-primary/90">
        <i class="fa-solid fa-briefcase mb-3 mr-2"></i>Experience :-
      </h2>
      <p class="relative mt-5 ml-6 flex gap-3">
        <i
          class="after:content-[' '] after:w-[1px] after:h-[80px] after:bg-secondary after:absolute after:top-[16px] after:left-[8px] fa-regular fa-circle-dot mb-[20px] text-secondary text-[16px]"
        ></i>
        <span class="flex flex-col">
          <span class="text-[16px] font-semibold font-Roboto text-primary/80">
            Glowing Smiles Family Dental Clinic
          </span>
          <span class="text-[15px] text-gray-500 ml-2"
            >2010 - Present (5 years)</span
          >
        </span>
      </p>

      <p class="relative mt-5 ml-6 flex gap-3">
        <i
          class="after:bg-secondary fa-regular fa-circle-dot mb-[20px] text-secondary text-[16px]"
        ></i>
        <span class="flex flex-col">
          <span class="text-[16px] font-semibold font-Roboto text-primary/80"
            >Comfort Care Dental Clinic
          </span>
          <span class="text-[15px] text-gray-500 ml-2"
            >2007 - 2010 (3 years)
          </span>
        </span>
      </p>
    </div>

    <div class="pb-6 w-1/3">
      <h2 class="text-[20px] font-Roboto text-primary/90">
        <i class="fa-solid fa-school mb-3 mr-2"></i>Education :-
      </h2>
      <p class="relative mt-5 ml-6 flex gap-3">
        <i
          class="after:content-[' '] after:w-[1px] after:h-[80px] after:bg-secondary after:absolute after:top-[16px] after:left-[8px] fa-regular fa-circle-dot mb-[20px] text-secondary text-[16px]"
        ></i>
        <span class="flex flex-col">
          <span class="text-[16px] font-semibold font-Roboto text-primary/80"
            >American Dental Medical University
          </span>
          <span class="text-[15px] text-gray-500 ml-2">BDS </span>
          <span class="text-[15px] text-gray-500 ml-2">1998 - 2003</span>
        </span>
      </p>
      <p class="relative mt-5 ml-6 flex gap-3">
        <i
          class="after:content-[' '] after:w-[1px] after:h-[80px] after:bg-secondary after:absolute after:top-[16px] after:left-[8px] fa-regular fa-circle-dot mb-[20px] text-secondary text-[16px]"
        ></i>
        <span class="flex flex-col">
          <span class="text-[16px] font-semibold font-Roboto text-primary/80"
            >American Dental Medical University
          </span>
          <span class="text-[15px] text-gray-500 ml-2">BDS </span>
          <span class="text-[15px] text-gray-500 ml-2">1998 - 2003</span>
        </span>
      </p>
      <p class="relative mt-5 ml-6 flex gap-3">
        <i
          class="after:content-[' '] after:w-[1px] after:h-[80px] after:bg-secondary after:absolute after:top-[16px] after:left-[8px] fa-regular fa-circle-dot mb-[20px] text-secondary text-[16px]"
        ></i>
        <span class="flex flex-col">
          <span class="text-[16px] font-semibold font-Roboto text-primary/80"
            >American Dental Medical University
          </span>
          <span class="text-[15px] text-gray-500 ml-2">BDS </span>
          <span class="text-[15px] text-gray-500 ml-2">1998 - 2003</span>
        </span>
      </p>
      <p class="relative mt-5 ml-6 flex gap-3">
        <i
          class="after:bg-secondary fa-regular fa-circle-dot mb-[20px] text-secondary text-[16px]"
        ></i>
        <span class="flex flex-col">
          <span class="text-[16px] font-semibold font-Roboto text-primary/80"
            >American Dental Medical University
          </span>
          <span class="text-[15px] text-gray-500 ml-2">BDS </span>
          <span class="text-[15px] text-gray-500 ml-2">1998 - 2003</span>
        </span>
      </p>
    </div>

    <div class="pb-6 w-1/3">
      <h2 class="text-[20px] font-Roboto text-primary/90">
        <i class="fa-solid fa-school mb-3 mr-2"></i>Awards :-
      </h2>
      <p class="relative mt-5 ml-6 flex gap-3">
        <i
          class="after:content-[' '] after:w-[1px] after:h-[80px] after:bg-secondary after:absolute after:top-[16px] after:left-[8px] fa-regular fa-circle-dot mb-[20px] text-secondary text-[16px]"
        ></i>
        <span class="flex flex-col">
          <span class="text-[16px] font-semibold font-Roboto text-primary/80"
            >American Dental Medical University
          </span>
          <span class="text-[15px] text-gray-500 ml-2">BDS </span>
          <span class="text-[15px] text-gray-500 ml-2">1998 - 2003</span>
        </span>
      </p>
      <p class="relative mt-5 ml-6 flex gap-3">
        <i
          class="after:content-[' '] after:w-[1px] after:h-[80px] after:bg-secondary after:absolute after:top-[16px] after:left-[8px] fa-regular fa-circle-dot mb-[20px] text-secondary text-[16px]"
        ></i>
        <span class="flex flex-col">
          <span class="text-[16px] font-semibold font-Roboto text-primary/80"
            >American Dental Medical University
          </span>
          <span class="text-[15px] text-gray-500 ml-2">BDS </span>
          <span class="text-[15px] text-gray-500 ml-2">1998 - 2003</span>
        </span>
      </p>
      <p class="relative mt-5 ml-6 flex gap-3">
        <i
          class="after:content-[' '] after:w-[1px] after:h-[80px] after:bg-secondary after:absolute after:top-[16px] after:left-[8px] fa-regular fa-circle-dot mb-[20px] text-secondary text-[16px]"
        ></i>
        <span class="flex flex-col">
          <span class="text-[16px] font-semibold font-Roboto text-primary/80"
            >American Dental Medical University
          </span>
          <span class="text-[15px] text-gray-500 ml-2">BDS </span>
          <span class="text-[15px] text-gray-500 ml-2">1998 - 2003</span>
        </span>
      </p>
      <p class="relative mt-5 ml-6 flex gap-3">
        <i
          class="after:bg-secondary fa-regular fa-circle-dot mb-[20px] text-secondary text-[16px]"
        ></i>
        <span class="flex flex-col">
          <span class="text-[16px] font-semibold font-Roboto text-primary/80"
            >American Dental Medical University
          </span>
          <span class="text-[15px] text-gray-500 ml-2">BDS </span>
          <span class="text-[15px] text-gray-500 ml-2">1998 - 2003</span>
        </span>
      </p>
    </div>
  </div>

  <div class="py-10">
    <h2 class="text-[20px] font-Roboto text-primary/90">
      <i class="fa-solid fa-briefcase mb-3 mr-2"></i>Specializations & Tags:-
    </h2>

    <div class="flex gap-4">
      <div
        class="py-2 bg-secondary-light px-8 rounded-md border-[1px] font-Roboto text-primary/80 text-[15px]"
      >
        Cardiologist
      </div>
      <div
        class="py-2 bg-secondary-light px-8 rounded-md border-[1px] font-Roboto text-primary/80 text-[15px]"
      >
        General Medicine
      </div>
      <div
        class="py-2 bg-secondary-light px-8 rounded-md border-[1px] font-Roboto text-primary/80 text-[15px]"
      >
        MBBS
      </div>
      <div
        class="py-2 bg-secondary-light px-8 rounded-md border-[1px] font-Roboto text-primary/80 text-[15px]"
      >
        FCPS
      </div>
    </div>
  </div>
</div>
