<div class="p-4 lg:p-10 h-[100%]">
  <!-- <div class="pb-6">
    <h2 class="text-[20px] font-Roboto text-primary/90">
      <i class="fa-solid fa-address-card mb-3 mr-2"></i> About me
    </h2>
    <p class="max-w-[1000px] min-w-[310px] leading-7 text-gray-500">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ipsam
      laudantium odio assumenda maiores. Veniam, omnis? Deserunt optio debitis
      velit ducimus quis doloribus ipsa atque nulla maiores adipisci, ut, illum
      molestiae, corporis voluptatum porro voluptatem exercitationem praesentium
      accusamus dicta laboriosam. Sint praesentium et consequatur doloremque
      deserunt enim id possimus sunt.
    </p>
  </div> -->

  <div class="grid grid-cols-1 lg:grid-cols-2 pt-4 w-full">
    <div class="pb-6 w-full">
      <h2 class="text-[20px] font-Roboto text-primary/90">
        <i class="fa-solid fa-briefcase mb-3 mr-2"></i>Hospital & Location :-
      </h2>
      @for (schedule of scheduleInfo; track $index) {
      <!-- {{ schedule | json }} -->
      <p class="relative mt-5 lg:ml-6 flex gap-3">
        <i
          [class]="
            $index == degreeDetails?.length - 1
              ? 'fa-regular fa-circle-dot mb-[20px] text-secondary text-[16px]'
              : 'after:content-[] after:w-[1px] after:h-[80px] after:bg-secondary after:absolute after:top-[16px] after:left-[8px] fa-regular fa-circle-dot mb-[20px] text-secondary text-[16px]'
          "
        ></i>
        <span class="flex flex-col">
          <span class="text-[18px] font-Roboto text-primary/80">
            @if (schedule.consultancyTypeName === 'Online') { Online video
            consultation }@else if (schedule.consultancyTypeName === 'Chamber')
            {
            {{ schedule.chamber }}
            }
          </span>
          <div class="text-[15px] font-Roboto text-gray-500 ml-2 space-y-4">
            Available Day & Time

            <div class="grid grid-cols-2 lg:grid-cols-3 gap-2 md:gap-3 mt-2">
              @for(scession of schedule.doctorScheduleDaySession; track $index)
              {<span
                class="bg-secondary/10 text-secondary-dark py-1 px-4 text-[13px] md:text-[16px]"
              >
                <p>
                  {{ scession.scheduleDayofWeek }}
                </p>
                {{ scession.startTime }} - {{ scession.endTime }} </span
              >}
            </div>
          </div>
        </span>
      </p>
      }
    </div>
    <div class="pb-6 w-full">
      <h2 class="text-[20px] font-Roboto text-primary/90">
        <i class="fa-solid fa-school mb-3 mr-2"></i>Education :-
      </h2>
      @for (details of degreeDetails; track $index;) {

      <p class="relative mt-5 ml-6 flex gap-3">
        <i
          [class]="
            $index == degreeDetails.length - 1
              ? 'fa-regular fa-circle-dot mb-[20px] text-secondary text-[16px]'
              : 'after:content-[] after:w-[1px] after:h-[80px] after:bg-secondary after:absolute after:top-[16px] after:left-[8px] fa-regular fa-circle-dot mb-[20px] text-secondary text-[16px]'
          "
        ></i>
        <span class="flex flex-col">
          <span class="text-[16px] font-semibold font-Roboto text-primary/80"
            >{{ details.instituteName }}
          </span>
          <span class="text-[15px] text-gray-500 ml-2"
            >{{ details.degreeName }}
          </span>
          <span class="text-[15px] text-gray-500 ml-2">{{
            details.passingYear
          }}</span>
        </span>
      </p>
      }
    </div>
  </div>

  <div class="py-10">
    <h2 class="text-[20px] font-Roboto text-primary/90">
      <i class="fa-solid fa-briefcase mb-3 mr-2"></i>Specializations & Tags:-
    </h2>

    <div class="flex gap-4 flex-wrap">
      <div
        class="py-2 bg-secondary-light px-8 rounded-md border-[1px] font-Roboto text-primary/80 text-[15px]"
      >
        Cardiologist
      </div>
      <div
        class="py-2 bg-secondary-light px-8 rounded-md border-[1px] font-Roboto text-primary/80 text-[15px]"
      >
        General Medicine
      </div>
      <div
        class="py-2 bg-secondary-light px-8 rounded-md border-[1px] font-Roboto text-primary/80 text-[15px]"
      >
        MBBS
      </div>
      <div
        class="py-2 bg-secondary-light px-8 rounded-md border-[1px] font-Roboto text-primary/80 text-[15px]"
      >
        FCPS
      </div>
    </div>
  </div>
</div>
