<div class="w-full h-screen overflow-y-auto bg-slate-100">
  <main id="content" role="main" class="w-full max-w-md mx-auto p-6">
    <div class="flex flex-col items-center">
      <img
        class="w-[200px] h-12 mr-2"
        ngSrc="assets/auth/clr-logo.png"
        alt="logo"
        width="200"
        height="48"
      />

      <div class="forgot-pass">
        <mat-stepper
          style="background: transparent"
          #stepper
          [selectedIndex]="activeTab"
          (selectedIndexChange)="onIndexChange(stepper)"
        >
          <mat-step [stepControl]="resetPasswordForm">
            <form [formGroup]="resetPasswordForm">
              <div
                class="mt-7 bg-white rounded-xl shadow-lg border-2 border-secondary/50"
              >
                <div class="p-4 sm:p-7">
                  <div class="text-center">
                    <h1 class="block text-2xl font-bold text-gray-800">
                      Forgot password?
                    </h1>
                    <p class="mt-2 text-sm text-gray-600">
                      Remember your password?
                      <a
                        class="text-secondary decoration-2 hover:underline font-medium"
                        routerLink="/login"
                      >
                        Login here
                      </a>
                    </p>
                  </div>

                  <div class="mt-5">
                    <div class="grid gap-y-4">
                      <div>
                        <label
                          for="username"
                          class="block text-sm font-bold ml-1 mb-2"
                          >Mobile Number</label
                        >
                        <div
                          class="form_input flex h-[40px]"
                          [ngClass]="{
                            'border-red-500':
                              resetPasswordForm.get('username')?.invalid &&
                              resetPasswordForm.get('username')?.touched
                          }"
                        >
                          <span matPrefix class="h-fit font-Roboto text-[16px]"
                            >+88 &nbsp;</span
                          >
                          <input
                            autocomplete="off"
                            matInput
                            maxlength="11"
                            class="w-full bg-white border-none outline-none font-Roboto h-fit font-semibold text-[16px]"
                            type="tel"
                            formControlName="username"
                            id="username"
                            placeholder="018-000-00000"
                            required
                            inputmode="numeric"
                          />
                        </div>
                        <p
                          class="font-Roboto text-[12px] text-red-600 mt-2"
                          *ngIf="
                            resetFormSubmitted &&
                            resetPasswordForm
                              .get('username')
                              ?.hasError('required')
                          "
                        >
                          You must enter a valid mobile number.
                        </p>
                        <p
                          class="font-Roboto text-[12px] text-red-600 mt-2"
                          *ngIf="
                            resetFormSubmitted &&
                            resetPasswordForm
                              .get('username')
                              ?.hasError('pattern')
                          "
                        >
                          Please include a valid mobile number so we can get
                          back to you.
                        </p>
                      </div>
                      <button
                        (click)="resetPassword()"
                        class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-secondary text-white hover:bg-secondary/80 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm"
                      >
                        Reset password
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div>
                <button mat-button matStepperNext>Next</button>
              </div> -->
            </form>
          </mat-step>
          <mat-step>
            <div
              class="max-w-lg text-center min-w-[400px] mx-auto my-10 bg-white p-5 rounded-xl shadow shadow-slate-300"
            >
              <div class="w-[150px] m-auto rounded-full h-[150px] bg-slate-200">
                <img
                  ngSrc="/assets/auth/v-code.jpg"
                  alt="IMG"
                  width="150"
                  height="150"
                />
              </div>
              <h1 class="mt-4 text-[28px] text-primary font-semibold">
                Verify Your Phone <br />
                Number
              </h1>
              <p class="text-primary">
                We have already sent a verification code<br />to
                {{ resetPasswordForm.get("username")?.value }}
                <!-- <b>{{ mobile }}</b> -->
              </p>
              <!-- <a (click)="initiateResendCode()" [class.disabled]="!resendCodeEnabled">
                  Resend code
                  <span *ngIf="!resendCodeEnabled">
                    ({{ minutes }}:{{ seconds < 10 ? '0' + seconds : seconds }})
                  </span>
                </a> -->
              <div class="mt-6 bg-white">
                <ng-otp-input
                  style="background: white"
                  inputClass="verify-focus bg-white "
                  (onInputChange)="onOtpChange($event)"
                  [config]="{ length: 4, allowNumbersOnly: true }"
                ></ng-otp-input>
              </div>
              <div
                *ngIf="this.errorMessage"
                class="p-4 mt-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 font-semibold font-Roboto"
                role="alert"
              >
                <i class="fa-solid fa-circle-exclamation mr-2"></i>
                {{ this.errorMessage }}
              </div>
              <div class="flex gap-3 mt-6">
                <button
                  [disabled]="isLoading"
                  class="btn-secondary w-1/2"
                  (click)="back(0)"
                >
                  Back
                </button>
                <button
                  [disabled]="isLoading"
                  class="form_btn w-1/2"
                  (click)="verify()"
                >
                  Continue <i class="fa-solid fa-arrow-right ml-2"></i>
                </button>
              </div>
            </div>
            <!-- <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div> -->
          </mat-step>
          <mat-step>
            <div class="p-8 border-[1px] rounded-lg mt-6 bg-white">
              <form [formGroup]="resetPasswordForm">
                <label
                  for="newPassword"
                  class="block mb-2 text-sm font-medium text-gray-800"
                  >New Password</label
                >
                <div class="form_input flex justify-between">
                  <input
                    [type]="resetPasswordFieldType"
                    formControlName="newPassword"
                    (keydown.enter)="$event.preventDefault()"
                    name="newPassword"
                    id="newPassword"
                    placeholder="••••••••"
                    class="outline-none border-none w-full bg-white"
                  />
                  <button
                    (click)="resetPasswordVisibility('newPassword')"
                    class="cursor-pointer"
                  >
                    <i
                      [class]="
                        resetPasswordFieldType === 'password'
                          ? 'fa fa-eye-slash'
                          : 'fa fa-eye'
                      "
                    ></i>
                  </button>
                </div>
                <div class="flex flex-col">
                  <p
                    class="font-Roboto text-[12px] text-red-600 mt-2"
                    *ngIf="
                      resetFormSubmitted &&
                      resetPasswordForm.get('newPassword')?.hasError('required')
                    "
                  >
                    Password is required.
                  </p>
                  <p
                    class="font-Roboto text-[12px] text-red-600 mt-2"
                    *ngIf="
                      resetFormSubmitted &&
                      resetPasswordForm
                        .get('newPassword')
                        ?.hasError('startsWithUppercase')
                    "
                  >
                    Password must start with an uppercase letter.
                  </p>
                  <p
                    class="font-Roboto text-[12px] text-red-600 mt-2"
                    *ngIf="
                      resetFormSubmitted &&
                      resetPasswordForm
                        .get('newPassword')
                        ?.hasError('isAtLeast6Characters')
                    "
                  >
                    Password must be at least 6 characters long.
                  </p>
                  <p
                    class="font-Roboto text-[12px] text-red-600 mt-2"
                    *ngIf="
                      resetFormSubmitted &&
                      resetPasswordForm
                        .get('newPassword')
                        ?.hasError('includesSpecialCharacter')
                    "
                  >
                    Password must include a special character.
                  </p>
                  <p
                    class="font-Roboto text-[12px] text-red-600 mt-2"
                    *ngIf="
                      resetFormSubmitted &&
                      resetPasswordForm
                        .get('newPassword')
                        ?.hasError('includesNumber')
                    "
                  >
                    Password must include a number.
                  </p>
                </div>
                <mat-hint
                  *ngIf="
                    resetPasswordForm.get('newPassword')?.invalid ||
                    resetPasswordForm.get('newPassword')?.value === '0'
                  "
                  class="text-xs text-red-500 font-normal"
                  align="end"
                  >hint: Password&#64;123</mat-hint
                >
                <label
                  for="confirm-password"
                  class="block mb-2 mt-3 text-sm font-medium text-gray-900"
                  >Confirm password</label
                >
                <div class="form_input flex justify-between">
                  <input
                    formControlName="confirmPassword"
                    [type]="resetConfPasswordFieldType"
                    (keydown.enter)="$event.preventDefault()"
                    name="confirm-password"
                    id="confirm-password"
                    placeholder="••••••••"
                    class="outline-none border-none w-full bg-white"
                  />
                  <button
                    (click)="resetPasswordVisibility('confirmPassword')"
                    class="cursor-pointer"
                  >
                    <i
                      [class]="
                        resetConfPasswordFieldType === 'password'
                          ? 'fa fa-eye-slash'
                          : 'fa fa-eye'
                      "
                    ></i>
                  </button>
                </div>
                <div class="flex flex-col">
                  <p
                    class="font-Roboto text-[12px] text-red-600 mt-2"
                    *ngIf="
                      resetFormSubmitted &&
                      resetPasswordForm
                        .get('confirmPassword')
                        ?.hasError('required')
                    "
                  >
                    Confirm password is required.
                  </p>
                  <p
                    class="font-Roboto text-[12px] text-red-600 mt-2"
                    *ngIf="
                      resetFormSubmitted &&
                      resetPasswordForm.get('confirmPassword')?.valid &&
                      resetPasswordForm.get('confirmPassword')?.dirty &&
                      resetPasswordForm.get('confirmPassword')?.errors
                    "
                  >
                    Password not matched.
                  </p>
                </div>
                <div class="flex items-start mt-6">
                  <div class="flex items-center h-5">
                    <input
                      id="newsletter"
                      aria-describedby="newsletter"
                      type="checkbox"
                      class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300"
                      required=""
                    />
                  </div>
                  <div class="ml-3 text-sm">
                    <label for="newsletter" class="font-light text-gray-500"
                      >I accept the
                      <a
                        class="font-medium text-primary-600 hover:underline"
                        href="#"
                        >Terms and Conditions</a
                      ></label
                    >
                  </div>
                </div>
                <button
                  (click)="confirmPassword()"
                  class="btn-secondary w-full mt-5"
                >
                  Confirm Password
                </button>
              </form>
            </div>
          </mat-step>
          <mat-step>
            <div class="h-[300px] bg-white flex justify-center text-center">
              You have successfully reset your password! Now you can login your
              account with new password.
            </div>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
    <p
      class="mt-3 flex justify-center items-center text-center divide-x divide-gray-300"
    >
      <a
        class="pr-3.5 inline-flex items-center gap-x-2 text-sm text-gray-600 decoration-2 hover:underline hover:text-primary"
        routerLink="/"
      >
        Home
      </a>
      <span
        routerLink="/contact-us"
        class="pl-3 inline-flex items-center gap-x-2 text-sm text-gray-600 decoration-2 hover:underline hover:text-primary"
      >
        Contact us!
      </span>
    </p>
  </main>
</div>

<!-- 
            <div *ngIf="changePasswordShow">
              <label
                for="newPassword"
                class="block mb-2 text-sm font-medium text-gray-100"
                >New Password</label
              >
              <div class="form_input flex justify-between">
                <input
                  [type]="resetPasswordFieldType"
                  formControlName="newPassword"
                  (keydown.enter)="$event.preventDefault()"
                  name="newPassword"
                  id="newPassword"
                  placeholder="••••••••"
                  class="outline-none border-none w-full bg-white"
                />
                <button
                  (click)="resetPasswordVisibility('newPassword')"
                  class="cursor-pointer"
                >
                  <i
                    [class]="
                      resetPasswordFieldType === 'password'
                        ? 'fa fa-eye-slash'
                        : 'fa fa-eye'
                    "
                  ></i>
                </button>
              </div>
              <div class="flex flex-col">
                <p
                  *ngIf="
                    resetFormSubmitted &&
                    resetPasswordForm.get('newPassword')?.hasError('required')
                  "
                >
                  Password is required.
                </p>
                <p
                  *ngIf="
                    resetFormSubmitted &&
                    resetPasswordForm
                      .get('newPassword')
                      ?.hasError('startsWithUppercase')
                  "
                >
                  Password must start with an uppercase letter.
                </p>
                <p
                  *ngIf="
                    resetFormSubmitted &&
                    resetPasswordForm
                      .get('newPassword')
                      ?.hasError('isAtLeast6Characters')
                  "
                >
                  Password must be at least 6 characters long.
                </p>
                <p
                  *ngIf="
                    resetFormSubmitted &&
                    resetPasswordForm
                      .get('newPassword')
                      ?.hasError('includesSpecialCharacter')
                  "
                >
                  Password must include a special character.
                </p>
                <p
                  *ngIf="
                    resetFormSubmitted &&
                    resetPasswordForm
                      .get('newPassword')
                      ?.hasError('includesNumber')
                  "
                >
                  Password must include a number.
                </p>
              </div>
              <mat-hint
                *ngIf="
                  resetPasswordForm.get('newPassword')?.invalid ||
                  resetPasswordForm.get('newPassword')?.value === '0'
                "
                class="text-xs text-red-500 font-normal"
                align="end"
                >hint: Password&#64;123</mat-hint
              >
              <label
                for="confirm-password"
                class="block mb-2 text-sm font-medium text-gray-100"
                >Confirm password</label
              >
              <div class="form_input flex justify-between">
                <input
                  formControlName="confirmPassword"
                  [type]="resetConfPasswordFieldType"
                  (keydown.enter)="$event.preventDefault()"
                  name="confirm-password"
                  id="confirm-password"
                  placeholder="••••••••"
                  class="outline-none border-none w-full bg-white"
                />
                <button
                  (click)="resetPasswordVisibility('confirmPassword')"
                  class="cursor-pointer"
                >
                  <i
                    [class]="
                      resetConfPasswordFieldType === 'password'
                        ? 'fa fa-eye-slash'
                        : 'fa fa-eye'
                    "
                  ></i>
                </button>
              </div>
              <div class="flex flex-col">
                <p
                  *ngIf="
                    resetFormSubmitted &&
                    resetPasswordForm
                      .get('confirmPassword')
                      ?.hasError('required')
                  "
                >
                  Confirm password is required.
                </p>
                <p
                  *ngIf="
                    resetFormSubmitted &&
                    resetPasswordForm.get('confirmPassword')?.valid &&
                    resetPasswordForm.get('confirmPassword')?.dirty &&
                    resetPasswordForm.get('confirmPassword')?.errors
                  "
                >
                  Password not matched.
                </p>
              </div>
              <div class="flex items-start mt-4">
                <div class="flex items-center h-5">
                  <input
                    id="newsletter"
                    aria-describedby="newsletter"
                    type="checkbox"
                    class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300"
                    required=""
                  />
                </div>
                <div class="ml-3 text-sm">
                  <label for="newsletter" class="font-light text-gray-500"
                    >I accept the
                    <a
                      class="font-medium text-primary-600 hover:underline"
                      href="#"
                      >Terms and Conditions</a
                    ></label
                  >
                </div>
              </div>
            </div>

            <button
              *ngIf="!changePasswordShow"
              type="submit"
              (click)="resetPassword()"
              class="w-full text-white bg-secondary bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
            >
              {{ resetLoading ? "Loading..." : "Reset password" }}
            </button>

            <button
              *ngIf="changePasswordShow"
              type="submit"
              (click)="confirmPassword()"
              class="w-full text-white bg-secondary bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
            >
              Confirm passwod
            </button> -->
