<div class="py-4 ">
    <div class="w-full border-[1px] rounded-md  mb-5 flex justify-between py-3 px-5 items-center">
        <span class="text-[20px] text-primary/80 font-Roboto font-semibold">
            <i class="fa-solid fa-filter mr-2"></i> Filter your appointment :
        </span>
        <div class="flex gap-4 h-fit">
            <div class="py-2 h-fit px-4  rounded-md bg-white border-gray-300/80 border flex items-center">
                <input class="outline-none bg-transparent w-[300px] text-priamry/80 placeholder:text-primary/50"
                    placeholder="Search by doctor..." />
                <span class="bg-transparent">
                    <i class="fa-solid fa-magnifying-glass text-primary"></i>
                </span>
            </div>


            <select class="form_input" [value]="1">
                <option value="1">Appointment Type</option>
                <option>Select</option>
                <option>Select</option>
                <option>Select</option>
            </select>
            <select class="form_input" [value]="1">
                <option value="1">Appointment Type</option>
                <option>Select</option>
                <option>Select</option>
                <option>Select</option>
            </select>
            <select class="form_input" [value]="1">
                <option value="1">Appointment Type</option>
                <option>Select</option>
                <option>Select</option>
                <option>Select</option>
            </select>

        </div>
    </div>


    <div class="flex gap-4">

        <div class="min-w-[24%] border-[1px] rounded-md bg-white">
            <div class="border-b-[1px] flex justify-between p-6">
                <div>
                    <h2 class="text-[18px] font-Roboto font-semibold text-primary/80 mt-2">Dr. Nawrin Sultana</h2>
                    <p class="text-[14px] font-Roboto  text-gray-500">General Medicine</p>
                </div>
                <div class="w-[70px] h-[70px] overflow-hidden rounded-full border-secondary border-[2px]">
                    <img class="w-full h-full object-cover" src="/assets/doctor/dr.jpeg" alt="">
                </div>
            </div>

            <div class="p-4">
                <p class="text-[22px] font-Roboto font-semibold text-primary/80"> Sunday - 12:50 PM </p>
                <p class="py-1 text-gray-500 mt-5"><b>Date :</b> 02/05/2023 </p>
                <p class="py-1 text-gray-500"><b>Doctor Fee :</b> 500tk </p>
                <p class="py-1 text-gray-500"><b>Type : </b>Online</p>
                <p class="py-1 text-gray-500"><b>Status : </b><span
                        class="py-1 px-4 bg-yellow-100 text-yellow-800 rounded-lg"> Coming soon </span></p>
            </div>


            <div class="flex w-full justify-between gap-4 p-4">
                <button
                    class="btn-secondary-light hover:text-white hover:bg-secondary bg-primary text-white w-1/2 mr-0"> <i
                        class="fa-solid fa-ban mr-1 "></i>Cancel</button>
                <button class="btn-secondary-light w-1/2 mr-0 border-secondary-dark/30 border"> <i
                        class="fa-solid fa-prescription mr-1"></i> Prescription </button>
            </div>
        </div>
        <div class="min-w-[24%] border-[1px] rounded-md bg-white">
            <div class="border-b-[1px] flex justify-between p-6">
                <div>
                    <h2 class="text-[18px] font-Roboto font-semibold text-primary/80 mt-2">Dr. Nawrin Sultana</h2>
                    <p class="text-[14px] font-Roboto  text-gray-500">General Medicine</p>
                </div>
                <div class="w-[70px] h-[70px] overflow-hidden rounded-full border-secondary border-[2px]">
                    <img class="w-full h-full object-cover" src="/assets/doctor/dr.jpeg" alt="">
                </div>
            </div>

            <div class="p-4">
                <p class="text-[22px] font-Roboto font-semibold text-primary/80"> Sunday - 12:50 PM </p>
                <p class="py-1 text-gray-500 mt-5"><b>Date :</b> 02/05/2023 </p>
                <p class="py-1 text-gray-500"><b>Doctor Fee :</b> 500tk </p>
                <p class="py-1 text-gray-500"><b>Type : </b>Online</p>
                <p class="py-1 text-gray-500"><b>Status : </b><span
                        class="py-1 px-4 bg-yellow-100 text-yellow-800 rounded-lg"> Coming soon </span></p>
            </div>

            <div class="flex w-full justify-between gap-4 p-4">
                <button
                    class="btn-secondary-light hover:text-white hover:bg-secondary bg-primary text-white w-1/2 mr-0"> <i
                        class="fa-solid fa-ban mr-1 "></i>Cancel</button>
                <button class="btn-secondary-light w-1/2 mr-0 border-secondary-dark/30 border hover:text-white hover:bg-secondary"> <i
                        class="fa-solid fa-phone mr-1"></i> Join Call</button>
            </div>
        </div>

    </div>

</div>