<div class="main_menu w-full bg-white border-r-[1px] relative z-10 p-2 box-border">

    <div class="menu_list  box-border ">
        <ul class="menu bg-white w-full">
            <app-dashboard-menu-item [menuItemDetails]="doctorMenuList"></app-dashboard-menu-item>
        </ul>

    </div>
    <div class="menu_footer w-full p-3 bg-primary flex justify-center  absolute bottom-0 ">
        <div
            class="cursor-pointer text-white font-semibold flex gap-2 transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110  duration-300">
            <img src="../../../../assets/doctor/log-out.svg" alt=""> <span >Logout</span>
        </div>
    </div>
</div>
