<div class="py-20">
    <div class="container">
        <div class="flex flex-col space-y-5 justify-center items-center">
            <h3 class="font-Roboto text-[20px] font-semibold text-secondary">Patient Feedback</h3>
            <h1 class="font-Roboto text-[44px] font-semibold text-primary">Positive Feedback From Our Patients</h1>
            <p class="font-Roboto max-w-lg text-[16px] text-center text-gray-500">Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </p>
        </div>
        <div class="mt-16 grid grid-cols-3 gap-5">
            <div class="p-6 bg-primary rounded-lg">
                <p class="font-Roboto text-[16px] text-gray-400">Lorem ipsum dolor sit, amet consectetur adipisicing
                    elit. Laboriosam,
                    voluptas. Minus soluta expedita excepturi, libero quas rerum labore ad molestiae?
                </p>
                <div class="mt-4 flex gap-5">
                    <img class="w-[60px] h-[60px] rounded-full bg-white" src="" alt="">
                    <h2 class="font-Roboto text-[20px] font-semibold text-secondary">Patient name</h2>
                </div>
            </div>
            <div class="p-6 bg-primary rounded-lg">
                <p class="font-Roboto text-[16px] text-gray-400">Lorem ipsum dolor sit, amet consectetur adipisicing
                    elit. Laboriosam,
                    voluptas. Minus soluta expedita excepturi, libero quas rerum labore ad molestiae?
                </p>
                <div class="mt-4 flex gap-5">
                    <img class="w-[60px] h-[60px] rounded-full bg-white" src="" alt="">
                    <h2 class="font-Roboto text-[20px] font-semibold text-secondary">Patient name</h2>
                </div>
            </div>
            <div class="p-6 bg-primary rounded-lg">
                <p class="font-Roboto text-[16px] text-gray-400">Lorem ipsum dolor sit, amet consectetur adipisicing
                    elit. Laboriosam,
                    voluptas. Minus soluta expedita excepturi, libero quas rerum labore ad molestiae?
                </p>
                <div class="mt-4 flex gap-5">
                    <img class="w-[60px] h-[60px] rounded-full bg-white" src="" alt="">
                    <h2 class="font-Roboto text-[20px] font-semibold text-secondary">Patient name</h2>
                </div>
            </div>
        </div>
    </div>
</div>