<div class="bg-blue-50/80 py-20">
  <div class="container py-8 mx-auto">
    <div
      class="pb-20 flex justify-center mx-auto text-center w-1/2 flex-col items-center"
    >
      <h1 class="text-[44px] font-semibold font-Roboto text-primary">
        Pricing Plan
      </h1>
      <p>
        At Soowgood, we understand the importance of seamless access to
        healthcare services. That's why we offer flexible pricing plans tailored
        to suit your unique requirements.
      </p>
    </div>
    <div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 bg-white p-5"
      >
        <app-pricing-card
          [details]="details"
          *ngFor="let details of packages"
        ></app-pricing-card>
      </div>
    </div>
  </div>
</div>

<!-- <div>
  <img
    class="object-cover w-full h-full"
    src="/assets/other/sg-compare.jpg"
    alt="pricing"
  />
</div> -->
