<div *ngIf="user == 'patient'">
  <div class="border-b-[1px] flex justify-between p-5 bg-primary/90">
    <div>
      <h2 class="text-[22px] font-Roboto text-gray-50 mt-2 capitalize">
        Dr. {{ appointment.doctorName }}
      </h2>
      <!-- <p class="text-[14px] font-Roboto text-gray-200">General Medicine</p> -->
    </div>
    <div
      class="w-[60px] h-[60px] overflow-hidden rounded-full border-secondary border-[2px]"
    >
      <img
        class="w-full h-full object-cover"
        ngSrc="/assets/doctor/avater.png"
        alt="img"
        width="50"
        height="50"
      />
    </div>
  </div>

  <div class="px-6">
    <!-- <p class="text-[22px] font-Roboto text-primary/80 flex justify-between"> {{appointment.scheduleDayofWeek}} {{ appointment.appointmentDate | date: 'hh:mm a' }}</p> -->

    <p class="py-1 text-[18px] text-gray-500 mt-5 flex justify-between">
      <b>Patient Name : </b> <b>{{ appointment.patientName }}</b>
    </p>
    <!-- <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b>Code : </b> {{ appointment.appointmentCode }}
    </p> -->
    <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b>Date & Time : </b>
      <b>
        {{ appointment.appointmentDate | date }} -
        {{ appointment.appointmentTime }}
      </b>
    </p>
    <!--<p class="py-1 text-[14px] text-gray-500 mt-5 flex justify-between"><b>Date : </b> {{appointment.appointmentTime | date}}  </p>-->
    <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b>Doctor Fee :</b>
      <span class="font-Roboto text-[18px]"
        >{{ appointment.totalAppointmentFee }} tk.
      </span>
    </p>
    <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b> Appointment Type : </b>{{ appointment.appointmentTypeName }}
    </p>
    <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b>Consultancy Type : </b>
      <span class="badge text-primary bg-green-200 font-Roboto">
        <i
          *ngIf="appointment.consultancyTypeName == 'online'"
          class="fa-solid fa-video"
        ></i
        >{{ appointment.consultancyTypeName }}
      </span>
    </p>
    <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b> Appointment Serial: </b>{{ appointment.appointmentSerial }} no.
    </p>
    <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b>Status : </b>
      <span
        [class]="
          appointment.appointmentStatus == 4
            ? 'bg-green-100 text-green-950 py-.5 px-3 rounded-lg'
            : 'bg-yellow-100 py-.5 px-3  text-yellow-800 rounded-lg'
        "
      >
        {{
          appointment.appointmentStatus == 2
            ? "Confirmed"
            : appointment.appointmentStatus == 4
            ? "Completed"
            : appointment.appointmentStatus == 5
            ? "Cancelled"
            : "Progress"
        }}
      </span>
    </p>
    <!-- <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b>Reschedule : </b
      ><a class="py-1 underline cursor-pointer"> Send Request </a>
    </p> -->
  </div>
  <div class="flex w-full justify-between gap-3 flex-wrap p-4 items-end h-full">
    <!-- <button *ngIf="appointment.appointmentStatus == 2 && appointment.appointmentStatus !== 4"
      class="btn-secondary-light flex-1 basis-5/12 hover:text-white hover:bg-primary/30 bg-primary/90 text-white  mr-0">
      <i class="fa-solid fa-ban mr-1"></i> Cancel (click)="cancellAppointment(appointment.id)"
    </button> -->

    <button
      *ngIf="
        appointment.appointmentStatus == 2 &&
        appointment.appointmentStatus !== 4
      "
      (click)="cancellAppointment(appointment.id)"
      [attr.data-tip]="btnDisable && 'Not acceptable!'"
      [class]="
        btnDisable
          ? 'btn-secondary-light tooltip tooltip-warning flex-1 basis-5/12 bg-primary/10 text-gray-400 hover:text-neutral-400  mr-0'
          : 'btn-secondary-light flex-1 basis-5/12 hover:text-white hover:bg-primary/30 bg-primary/90 text-white  mr-0'
      "
    >
      <i class="fa-solid fa-ban mr-1"></i> Cancel
    </button>

    <button
      *ngIf="appointment.appointmentStatus == 4"
      (click)="openPdfDialog(appointment.id)"
      class="btn-secondary-light flex-1 basis-5/12 mr-0 border-secondary-dark/30 border"
    >
      <i class="fa-solid fa-prescription mr-1"></i> Prescription
    </button>

    <button
      [attr.data-tip]="btnDisable && 'Appointment day is over!'"
      *ngIf="appointment.appointmentStatus == 2"
      (click)="goToJoinCall(appointment, 'patient')"
      [disabled]="btnDisable"
      [class]="
        btnDisable
          ? 'btn-secondary-light tooltip tooltip-warning flex-1 basis-5/12 bg-primary/10 text-gray-400 hover:text-neutral-400  mr-0'
          : 'btn-secondary py-2 flex-1 basis-5/12 mr-0 hover:text-white hover:bg-primary border-secondary-dark/30 border'
      "
    >
      <i class="fa-solid fa-phone-volume mr-1"></i> Join Call
    </button>

    <button
      *ngIf="appointment.appointmentStatus == 2 && uploadPrescriptiion"
      (click)="uploadDocuments(appointment)"
      class="btn-secondary-light flex-1 tooltip-warning basis-5/12 mr-0 border-secondary-dark/30 border"
    >
      <i class="fa-solid fa-upload mr-1"></i> Upload Documents
    </button>
  </div>
</div>

<!-- Doctor start -->

<div *ngIf="user == 'doctor'">
  <div class="border-b-[1px] flex justify-between p-5 bg-primary/90">
    <div>
      <h2
        class="cursor-pointer text-[22px] font-Roboto text-gray-50 mt-2 capitalize"
        (click)="goToPatientProfile(appointment)"
      >
        {{ appointment.patientName }}
      </h2>
    </div>
    <div
      class="w-[60px] h-[60px] overflow-hidden rounded-full border-secondary border-[2px]"
    >
      <img
        class="w-full h-full object-cover"
        ngSrc="/assets/doctor/avater.png"
        alt="img"
        width="50"
        height="50"
      />
    </div>
  </div>

  <div class="px-6">
    <!-- <p class="text-[22px] font-Roboto text-primary/80 flex justify-between"> {{appointment.scheduleDayofWeek}} {{ appointment.appointmentDate | date: 'hh:mm a' }}</p> -->
    <!-- <p class="py-1 text-[14px] text-gray-500 mt-5 flex justify-between"><b>Code : </b> {{appointment.appointmentCode}}
    </p> -->
    <p class="py-1 text-[14px] text-gray-500 mt-3 flex justify-between">
      <b>Date & Time : </b>
      <b>
        {{ appointment.appointmentDate | date }} -
        {{ appointment.appointmentTime }}
      </b>
    </p>
    <!--<p class="py-1 text-[14px] text-gray-500 mt-5 flex justify-between"><b>Date : </b> {{appointment.appointmentTime | date}}  </p>-->
    <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b>Doctor Fee :</b>
      {{ appointment.totalAppointmentFee }} tk.
    </p>
    <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b> Appointment Type : </b>{{ appointment.appointmentTypeName }}
    </p>
    <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b>Consultancy Type : </b>
      <span class="badge text-primary">
        <i
          *ngIf="appointment.consultancyTypeName == 'online'"
          class="fa-solid fa-video"
        ></i
        >{{ appointment.consultancyTypeName }}
      </span>
    </p>
    <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b> Appointment Serial: </b>{{ appointment.appointmentSerial }} no.
    </p>
    <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b>Status : </b>
      <span
        [class]="
          appointment.appointmentStatus == 4
            ? 'bg-green-100 text-green-950 py-.5 px-3 rounded-lg'
            : 'bg-yellow-100 py-.5 px-3  text-yellow-800 rounded-lg'
        "
      >
        {{
          appointment.appointmentStatus == 2
            ? "Confirmed"
            : appointment.appointmentStatus == 4
            ? "Completed"
            : appointment.appointmentStatus == 5
            ? "Cancelled"
            : "Progress"
        }}
      </span>
    </p>
    <!-- <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b>Reschedule : </b
      ><a class="py-1 underline cursor-pointer"> Send Request </a>
    </p> -->

    <!-- <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b>Previous Documents. : </b
      ><a class="py-1 underline cursor-pointer">
        <b>Attachment</b> <i class="fa-solid fa-paperclip ml-2"></i>
      </a>
    </p> -->
  </div>
  <div class="grid grid-cols-2 flex-wrap w-full justify-between gap-4 p-4">
    <button
      *ngIf="
        appointment.appointmentStatus !== 4 &&
        appointment.appointmentStatus == 2
      "
      [class]="
        btnDisable
          ? 'btn-secondary-light tooltip tooltip-warning flex-1 basis-5/12 bg-primary/10 text-gray-400 hover:text-neutral-400  mr-0'
          : 'btn-secondary-light flex-1 basis-5/12  hover:text-white hover:bg-secondary bg-primary/90 text-white  mr-0'
      "
    >
      <i class="fa-solid fa-ban mr-1"></i> Cancel
    </button>

    <button
      *ngIf="appointment.appointmentStatus == 2"
      (click)="goToJoinCall(appointment, 'doctor')"
      [class]="
        btnDisable
          ? 'btn-secondary-light tooltip tooltip-warning flex-1 basis-5/12 bg-primary/10 text-gray-400 hover:text-neutral-400  mr-0'
          : 'btn-secondary-light flex-1 basis-5/12   mr-0 hover:text-white hover:bg-secondary border-secondary-dark/30 border'
      "
    >
      <i class="fa-solid fa-phone-volume mr-1"></i> Join Call
    </button>
    <!-- // should be change 1 > 2   -->
    <button
      class="btn-secondary-light col-span-2 flex-1 active:scale-90 transition-all duration-75 mr-0 hover:text-white hover:bg-secondary border-secondary-dark/30 border"
      (click)="goToBuildPrescription(appointment.id)"
    >
      <i class="fa-solid fa-prescription mr-1"></i>Create Prescription
    </button>
  </div>
</div>

<!-- Doctor start -->

<div *ngIf="user == 'agent'">
  <div class="border-b-[1px] flex justify-between p-5 bg-primary/90">
    <div>
      <h2 class="text-[22px] font-Roboto text-gray-50 mt-2 capitalize">
        Dr. {{ appointment.doctorName }}
      </h2>
      <!-- <p class="text-[14px] font-Roboto text-gray-200">General Medicine</p> -->
    </div>
    <div
      class="w-[60px] h-[60px] overflow-hidden rounded-full border-secondary border-[2px]"
    >
      <img
        class="w-full h-full object-cover"
        ngSrc="/assets/doctor/avater.png"
        alt="img"
        width="50"
        height="50"
      />
    </div>
  </div>

  <div class="px-6">
    <!-- <p class="text-[22px] font-Roboto text-primary/80 flex justify-between"> {{appointment.scheduleDayofWeek}} {{ appointment.appointmentDate | date: 'hh:mm a' }}</p> -->

    <p class="py-1 text-[18px] text-gray-500 mt-5 flex justify-between">
      <b>Patient : </b>
      <b class="text-[18px] capitalize">{{ appointment.patientName }}</b>
    </p>
    <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b>Code : </b> {{ appointment.appointmentCode }}
    </p>
    <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b>Date & Time : </b>
      <b>
        {{ appointment.appointmentDate | date }} -
        {{ appointment.appointmentTime }}
      </b>
    </p>
    <!--<p class="py-1 text-[14px] text-gray-500 mt-5 flex justify-between"><b>Date : </b> {{appointment.appointmentTime | date}}  </p>-->
    <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b>Doctor Fee :</b>
      <span class="font-Roboto text-[18px]">
        {{ appointment.totalAppointmentFee }} tk.
      </span>
    </p>
    <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b> Appointment Type : </b>{{ appointment.appointmentTypeName }}
    </p>
    <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b>Consultancy Type : </b>
      <span class="badge bg-green-200 text-primary">
        <i
          *ngIf="appointment.consultancyTypeName == 'online'"
          class="fa-solid fa-video"
        ></i
        >{{ appointment.consultancyTypeName }}
      </span>
    </p>
    <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b> Appointment Serial: </b>
      <span class="font-Roboto">{{ appointment.appointmentSerial }} no.</span>
    </p>
    <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b>Status : </b>
      <span
        [class]="
          appointment.appointmentStatus == 4
            ? 'bg-green-100 font-Roboto text-green-950 py-.5 px-3 rounded-lg'
            : 'bg-yellow-100 py-.5 px-3 font-Roboto text-yellow-800 rounded-lg'
        "
      >
        {{
          appointment.appointmentStatus == 2
            ? "Confirmed"
            : appointment.appointmentStatus == 4
            ? "Completed"
            : appointment.appointmentStatus == 5
            ? "Cancelled"
            : "Progress"
        }}
      </span>
    </p>
    <!-- <p class="py-1 text-[14px] text-gray-500 flex justify-between">
      <b>Reschedule : </b
      ><a class="py-1 underline cursor-pointer"> Send Request </a>
    </p> -->
  </div>
  <div class="flex w-full justify-between gap-3 flex-wrap p-4 items-end h-full">
    <!-- <button *ngIf="appointment.appointmentStatus == 2 && appointment.appointmentStatus !== 4"
      class="btn-secondary-light flex-1 basis-5/12 hover:text-white hover:bg-primary/30 bg-primary/90 text-white  mr-0">
      <i class="fa-solid fa-ban mr-1"></i> Cancel (click)="cancellAppointment(appointment.id)"
    </button> -->

    <button
      *ngIf="
        appointment.appointmentStatus == 2 &&
        appointment.appointmentStatus !== 4
      "
      (click)="cancellAppointment(appointment.id)"
      [attr.data-tip]="btnDisable && 'Not acceptable!'"
      [class]="
        btnDisable
          ? 'btn-secondary-light tooltip tooltip-warning flex-1 basis-5/12 bg-primary/10 text-gray-400 hover:text-neutral-400  mr-0'
          : 'btn-secondary-light flex-1 basis-5/12 hover:text-white hover:bg-primary/30 bg-primary/90 text-white  mr-0'
      "
    >
      <i class="fa-solid fa-ban mr-1"></i> Cancel
    </button>

    <button
      *ngIf="appointment.appointmentStatus == 4"
      (click)="openPdfDialog(appointment.id)"
      class="btn-secondary-light flex-1 basis-5/12 mr-0 border-secondary-dark/30 border"
    >
      <i class="fa-solid fa-prescription mr-1"></i> Prescription
    </button>

    <button
      [attr.data-tip]="btnDisable && 'Appointment day is over!'"
      *ngIf="appointment.appointmentStatus == 2"
      (click)="goToJoinCall(appointment, 'patient')"
      [disabled]="btnDisable"
      [class]="
        btnDisable
          ? 'btn-secondary-light tooltip tooltip-warning flex-1 basis-5/12 bg-primary/10 text-gray-400 hover:text-neutral-400  mr-0'
          : 'btn-secondary py-2 flex-1 basis-5/12 mr-0 hover:text-white hover:bg-primary border-secondary-dark/30 border'
      "
    >
      <i class="fa-solid fa-phone-volume mr-1"></i> Join Call
    </button>

    <button
      *ngIf="appointment.appointmentStatus == 2 && uploadPrescriptiion"
      (click)="uploadDocuments(appointment)"
      class="btn-secondary-light flex-1 tooltip-warning basis-5/12 mr-0 border-secondary-dark/30 border"
    >
      <i class="fa-solid fa-upload mr-1"></i> Upload Documents
    </button>
  </div>
</div>
