<div class="py-[70px]">
  <div class="container mx-auto mt-8 p-10 bg-white rounded">
    <h1 class="text-2xl font-bold mb-4">Soowgood Refund and Return Policy</h1>

    <p class="mb-4">
      At Soowgood, we prioritize your satisfaction, and our flexible return and
      refund policy ensure a smooth experience across our services.
    </p>

    <h2 class="text-xl font-semibold mb-2">Doctor Consultation:</h2>
    <ul class="list-disc pl-6 mb-4">
      <li>
        To reschedule or cancel a pre-scheduled doctor consultation, please
        notify us at least 3 hours before the appointment.
      </li>
      <li>
        <strong>Cancellation:</strong> Receive 80% of consultation fees as a
        refund, processed within 7 working days.
      </li>
      <li>
        <strong>Rescheduling:</strong> A new suitable time will be arranged in
        consultation with you.
      </li>
    </ul>

    <h2 class="text-xl font-semibold mb-2">Medicine Home Delivery:</h2>
    <ul class="list-disc pl-6 mb-4">
      <li>
        Carefully check your delivery upon arrival; Soowgood is not liable once
        the delivery agent leaves.
      </li>
      <li>
        <strong>Return Policy:</strong> Medicines cannot be returned after 7
        days from the delivery date.
      </li>
      <li>
        <strong>Special Cases:</strong> Refrigerated medicines like insulin are
        non-returnable.
      </li>
    </ul>

    <h2 class="text-xl font-semibold mb-2">Home Sample Collection:</h2>
    <ul class="list-disc pl-6 mb-4">
      <li>
        For rescheduling or canceling home sample collection, notify us at least
        3 hours before the appointment.
      </li>
      <li>
        <strong>Cancellation:</strong> Entitled to 80% of the booking fees as a
        refund, disbursed within 7 working days.
      </li>
      <li>
        <strong>Rescheduling:</strong> We'll coordinate a new suitable time that
        suits you.
      </li>
    </ul>

    <h2 class="text-xl font-semibold mb-2">Healthcare Package:</h2>
    <ul class="list-disc pl-6 mb-4">
      <li>
        Refunds for healthcare packages are evaluated on a case-by-case basis,
        considering the nature of the package and services utilized.
      </li>
      <li>
        Refund requests must be submitted within 7 days of the purchase date.
      </li>
    </ul>

    <h2 class="text-xl font-semibold mb-2">
      Physiotherapy and Nursing Services:
    </h2>
    <ul class="list-disc pl-6 mb-4">
      <li>
        To reschedule or cancel Physiotherapy and Nursing Services, notify us at
        least 3 hours before the appointment.
      </li>
      <li>
        <strong>Cancellation:</strong> Receive 80% of the booking fees as a
        refund, processed within 7 working days.
      </li>
      <li>
        <strong>Rescheduling:</strong> We'll collaborate to find a new suitable
        appointment time.
      </li>
    </ul>

    <p class="mb-4">
      At Soowgood, your satisfaction is our commitment. For any inquiries or
      assistance related to refunds and returns, reach
      <span class="text-blue-500">[your contact information]</span>.
    </p>
  </div>
</div>
