<div class="h-screen bg-primary flex items-center">
    <div class="container">
        <div class="grid grid-cols-2">
            <div class="relative flex justify-center">

                <div class="w-[350px] h-[350px] rounded-full bg-secondary">
                    <img loading="lazy" class="absolute max-h-[500px] top-1/2 -translate-y-1/2 -translate-x-1/2 left-1/2"
                        src="assets/banner/app.png" alt="">
                </div>
            </div>
            <div>

                <h3 class="text-[20px] text-secondary font-semibold ">Download Our App</h3>
                <h1 class="text-[44px] mb-6 text-white font-bold">Download Our <span
                        class="text-secondary">Soowgood</span> App From Your Gadget</h1>
                <p class="text-[16px] font-Roboto text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                </p>


                <ul class="grid grid-cols-2 row-gap-4 mt-9 grid-rows-2 text-[18px] font-Roboto text-gray-300">
                    <li><i class="fa-regular fa-square-check mr-2 text-secondary"></i>Video Consult With Doctors</li>
                    <li><i class="fa-regular fa-square-check mr-2 text-secondary"></i>Exclusive Healthcare</li>
                    <li><i class="fa-regular fa-square-check mr-2 text-secondary"></i>Ask Free Questions</li>
                    <li><i class="fa-regular fa-square-check mr-2 text-secondary"></i>Live Medicine Order Tracking</li>
                </ul>

                <div class="flex gap-6 mt-10">
                    <div class=" bg-white h-[60px] rounded-lg flex items-center p-4 gap-4 w-fit">
                        <i class="fa-brands text-[50px] fa-apple"></i>
                        <div>
                            <p class="text-[14px] mb-0 font-semibold text-primary font-poppins">Download on the</p>
                            <h2 class="text-[24px] font-semibold text-primary font-poppins">App Store</h2>
                        </div>
                    </div>
                    <div class="w-fit bg-white h-[60px] rounded-lg flex gap-4 items-center p-4 ">
                        <img loading="lazy" width="40" height="25" src="assets/other/playstore.webp" alt="app">
                        <div>
                            <p class="text-[14px] mb-0 font-semibold text-primary font-poppins">Download on the</p>
                            <h2 class="text-[24px] font-semibold text-primary font-poppins">Play Store</h2>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>
