<div class="lg:h-screen bg-primary py-10 flex items-center">
  <div class="container">
    <div class="grid lg:grid-cols-2 grid-cols-1">
      <div class="relative hidden justify-center lg:flex">
        <div class="w-[350px] h-[350px] rounded-full bg-secondary">
          <img
            loading="lazy"
            class="absolute max-h-[500px] top-1/2 -translate-y-1/2 -translate-x-1/2 left-1/2"
            ngSrc="assets/banner/app.png"
            width="250"
            height="500"
            alt=""
          />
        </div>
      </div>
      <div>
        <h3 class="text-[15px] lg:text-[20px] text-secondary font-semibold">
          Download Our App
        </h3>
        <h1
          class="text-[28px] md:text-[34px] lg:text-[44px] mb-6 text-white font-bold"
        >
          Download Our <span class="text-secondary">Soowgood</span> App From
          Your Gadget
        </h1>
        <p class="lg:text-[16px] text-[14px] font-Roboto text-gray-300">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco
        </p>

        <ul
          class="grid grid-cols-2 row-gap-4 mt-9 grid-rows-2 text-[15px] lg:text-[18px] font-Roboto text-gray-300"
        >
          <li>
            <i class="fa-regular fa-square-check mr-2 text-secondary"></i>Video
            Consult With Doctors
          </li>
          <li>
            <i class="fa-regular fa-square-check mr-2 text-secondary"></i
            >Exclusive Healthcare
          </li>
          <li>
            <i class="fa-regular fa-square-check mr-2 text-secondary"></i>Ask
            Free Questions
          </li>
          <li>
            <i class="fa-regular fa-square-check mr-2 text-secondary"></i>Live
            Medicine Order Tracking
          </li>
        </ul>

        <div class="grid grid-cols-2 gap-3 md:gap-6 mt-10">
          <div
            class="bg-white sm:h-[60px] rounded-lg flex items-center p-3 md:p-4 gap-4 w-fit"
          >
            <i class="fa-brands text-[30px] md:text-[50px] fa-apple"></i>
            <div>
              <p
                class="md:text-[14px] text-[12px] mb-0 font-semibold text-primary font-poppins"
              >
                Download
              </p>
              <h2
                class="md:text-[24px] text-[18px] font-semibold text-primary font-poppins"
              >
                App Store
              </h2>
            </div>
          </div>
          <div
            class="w-fit bg-white sm:h-[60px] rounded-lg flex gap-4 items-center p-3 md:p-4"
          >
            <img
              loading="lazy"
              width="30"
              height="20"
              ngSrc="assets/other/playstore.webp"
              alt="app"
            />
            <div>
              <p
                class="md:text-[14px] text-[12px] mb-0 font-semibold text-primary font-poppins"
              >
                Download
              </p>
              <h2
                class="md:text-[24px] text-[18px] font-semibold text-primary font-poppins"
              >
                Play Store
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
