<div class="bg-primary py-10 lg:py-[100px] flex items-center">
  <div class="container">
    <div class="grid lg:grid-cols-2 grid-cols-1">
      <div class="relative hidden justify-center lg:flex">
        <div class="w-[350px] h-[350px] rounded-full bg-secondary">
          <img
            loading="lazy"
            class="absolute max-h-[500px] top-1/2 -translate-y-1/2 -translate-x-1/2 left-1/2"
            ngSrc="assets/banner/app.png"
            width="250"
            height="500"
            alt=""
          />
        </div>
      </div>
      <div>
        <h3 class="text-[15px] lg:text-[20px] text-secondary font-semibold">
          Download Our App
        </h3>
        <h1
          class="text-[28px] md:text-[34px] lg:text-[44px] mb-6 text-white font-bold"
        >
          Download Our <span class="text-secondary">Soowgood</span> App From
          Your Gadget
        </h1>
        <p class="lg:text-[16px] text-[14px] text-gray-300">
          Get instant access to Soowgood's mobile app for effortless appointment
          scheduling, medical records management, and vital updates. Simply
          click to download from the Google Play Store, streamlining your
          experience in managing your health and appointments on-the-go. Take
          charge of your medical journey with Soowgood's user-friendly
          interface, now just a tap away
        </p>

        <ul
          class="grid grid-cols-2 row-gap-4 mt-9 grid-rows-2 text-[15px] lg:text-[18px] font-Roboto text-gray-300"
        >
          <li>
            <i class="fa-regular fa-square-check mr-2 text-secondary"></i>Video
            Consult With Doctors
          </li>
          <li>
            <i class="fa-regular fa-square-check mr-2 text-secondary"></i
            >Exclusive Healthcare
          </li>
          <li>
            <i class="fa-regular fa-square-check mr-2 text-secondary"></i>Ask
            Free Questions
          </li>
          <li>
            <i class="fa-regular fa-square-check mr-2 text-secondary"></i>Live
            Medicine Order Tracking
          </li>
        </ul>

        <div class="flex gap-3 md:gap-6 mt-10">
          <div
            class="bg-white sm:h-[60px] rounded-lg flex items-center p-3 md:p-4 gap-4 w-fit"
          >
            <i class="fa-brands text-[30px] md:text-[40px] fa-apple"></i>
            <a
              href="https://play.google.com/store/apps/details?id=com.oneworld.soowgood&pcampaignid=web_share"
            >
              <p class="text-[12px] mb-0 text-primary font-poppins">Download</p>
              <h2 class="text-[18px] font-semibold text-primary font-poppins">
                App Store
              </h2>
            </a>
          </div>
          <div
            class="w-fit bg-white sm:h-[60px] rounded-lg flex gap-4 items-center p-3 md:p-4"
          >
            <img
              loading="lazy"
              width="30"
              height="20"
              ngSrc="assets/other/playstore.webp"
              alt="app"
            />
            <a
              href="https://apps.apple.com/us/app/soowgood/id1659850704?platform=iphone"
            >
              <p class="text-[12px] mb-0 text-primary font-poppins">Download</p>
              <h2 class="text-[18px] font-semibold text-primary font-poppins">
                Play Store
              </h2>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
