<div class="container mx-auto mt-28 mb-10 p-10 bg-white rounded shadow-lg">
  <h1 class="text-2xl font-bold mb-4">Village Digital Booth</h1>

  <p class="mb-4">
    To bring quality healthcare services to the rural communities of the
    country, Soowgood collaborates with Zaytoon Business Solution, working
    through the Village Digital Booth. Through this initiative, patients can
    easily receive expert medical advice from experienced doctors located in
    their proximity.
  </p>

  <h2 class="text-xl font-semibold mb-2">Services:</h2>
  <ul class="list-disc pl-6 mb-4">
    <li>Affordable and quality healthcare;</li>
    <li>Consultation with specialized and experienced doctors;</li>
    <li>Instant communication with doctors through video calls;</li>
    <li>Specialized doctors available for women and children;</li>
    <li>Digital prescriptions;</li>
    <li>Convenient appointment scheduling with doctors at preferred times;</li>
    <li>
      Personal and medical information and consultation documents will be secure
      and confidential;
    </li>
    <li>
      Additionally, services include ambulance service, blood donation, home
      sample collection, medicine home delivery, healthcare packages,
      physiotherapy, and nursing services;
    </li>
    <li>24/7 online customer support.</li>
  </ul>
</div>
