<div
  [class.scrolled]="scrolled"
  class="w-full bg-primary transition-all duration-200 fixed py-3 border-b-[1px] border-secondary-dark/50 z-50 top-0 supports-backdrop-blur:bg-primary/70"
>
  <div
    [class]="
      layout == 'admin' || layout == 'spreed' ? 'container-full' : 'container'
    "
  >
    <div class="container-items" *ngIf="layout == 'public' || 'spreed'">
      <div class="header-logo" routerLink="/">
        <img
          appScroll
          class="w-full drop-shadow-md active:scale-95 duration-200 cursor-pointer"
          src="/assets/SoowGood-Logo.png"
          alt="logo"
        />
      </div>
      <div>
        <div>
          <ul class="flex gap-4 items-center">
            <li
              class="btn-secondary-anim border-secondary-dark/50 border-[1px]"
              (click)="navigator('soowgood-point')"
            >
              Soowgood Point
            </li>
            <li
              class="btn-secondary-anim border-secondary-dark/50 border-[1px]"
              (click)="navigator('soowgood-booth')"
            >
              Village Booth
            </li>
            <li *ngIf="userType === 'agent' || !userType">
              <div class="dropdown dropdown-end">
                <label
                  tabindex="0"
                  class="btn-secondary bg-primary cursor-pointer border-secondary-dark flex"
                >
                  <i class="fa-solid fa-user mr-2"></i> Agent
                </label>
                <ul
                  tabindex="0"
                  class="menu menu-sm dropdown-content mt-3 p-4 shadow bg-white rounded-box w-52"
                >
                  <span
                    *ngIf="userType === 'agent'"
                    class="pb-3 font-Roboto text-primary pl-3 border-b-[1px] text-[20px]"
                    >{{ authInfo?.fullName }}</span
                  >
                  <li *ngIf="userType == 'agent'">
                    <a
                      class="font-Roboto text-primary text-[16px] py-2"
                      (click)="signOut()"
                    >
                      <i class="fa-solid fa-right-from-bracket mr-1"></i>Logout
                    </a>
                  </li>
                  <li
                    (click)="checkAuthUser(userType)"
                    *ngIf="userType !== 'agent'"
                    routerLink="/agent/login"
                  >
                    <a class="font-Roboto text-primary text-[16px] py-2">
                      <i class="fa-solid fa-right-to-bracket mr-1"></i> Login
                    </a>
                  </li>

                  <li
                    (click)="checkAuthUser(userType)"
                    *ngIf="userType !== 'agent'"
                    routerLink="/agent/signup"
                  >
                    <a class="font-Roboto text-primary text-[16px] py-2">
                      <i class="fa-solid fa-border-none mr-1"></i>Registration
                    </a>
                  </li>
                  <li
                    *ngIf="userType === 'agent'"
                    routerLink="/agent/dashboard"
                  >
                    <a class="font-Roboto text-primary text-[16px] py-2">
                      <i class="fa-solid fa-right-to-bracket mr-1"></i>
                      Dashboard
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li>
              <div
                *ngIf="
                  isAuthLogin &&
                  (userType === 'doctor' || userType === 'patient')
                "
                class="flex items-center"
              >
                <div class="dropdown dropdown-end">
                  <label
                    tabindex="0"
                    class="btn btn-ghost btn-circle avatar flex"
                  >
                    <div class="w-8 rounded-full">
                      <img src="../../../../assets/person.png" />
                    </div>
                  </label>
                  <ul
                    tabindex="0"
                    class="menu menu-sm dropdown-content mt-3 p-4 shadow bg-white rounded-box w-52"
                  >
                    <span
                      class="pb-3 text-primary font-Roboto pl-3 border-b-[1px] text-[20px]"
                    >
                      {{
                        authInfo.userType === "doctor"
                          ? authInfo?.doctorTitle
                          : ""
                      }}
                      {{ authInfo.fullName }}</span
                    >
                    <li [routerLink]="'/' + userType + '/dashboard'">
                      <a class="font-Roboto text-[16px] text-primary py-2">
                        <i class="fa-solid fa-right-from-bracket mr-1"></i
                        >Dashboard
                      </a>
                    </li>
                    <li>
                      <a
                        class="font-Roboto text-[16px] text-primary py-2"
                        (click)="signOut()"
                      >
                        <i class="fa-solid fa-right-from-bracket mr-1"></i
                        >Logout
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
