<div class="doctor-dashboard_midcontent_container w-full">
  <div class="flex items-center justify-left border-[1px]">
    <div class="w-full h-full bg-white">
      <div class="relative overflow-x-auto sm:rounded-lg">
        <div class="bg-slate-200/20 flex gap-4 items-center justify-between border-b-[1px] px-8 py-5">
          <div class="flex gap-5">
            <h1 class="dashbord-heading-text text-[22px]">
              <i class="fa-solid fa-building-columns mr-1"></i>My Patients
            </h1>
            <button *ngIf="userInfo.userType === 'agent' || 'patient'"
                    class="btn-secondary-light border-[1px] border-secondary-dark/50"
                    (click)="addNewPatient('agent')">
              <i class="fa-solid fa-plus mr-2"></i>Add New Patient
            </button>
          </div>
          <div class="flex">
            <div class="py-2 h-fit px-4 rounded-md bg-gray-400/10 flex items-center border-gray-200 border-[1px]">
              <input (change)="onSearchChange($event)"
                     class="outline-none bg-transparent font-poppins w-[400px] text-black/80 placeholder:text-black/50"
                     placeholder="Search patient..." />
              <span class="bg-transparent">
                <i class="fa-solid fa-magnifying-glass text-gray-500"></i>
              </span>
            </div>
          </div>
        </div>

        <div class="w-full flex h-screen flex-wrap justify-evenly overflow-y-scroll no-scrollbar px-5 pb-[50px]">
          <div class="px-4 py-3 w-full">
            <table *ngIf="!patientLoader" class="w-full text-sm text-left rounded-lg text-gray-500 dark:text-gray-400 border-[1px]">
              <thead class="text-xs rounded-lg text-gray-800 uppercase bg-black/5 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                  <th scope="col" class="px-6 py-3">S.L No</th>
                  <th scope="col" class="px-6 py-3">Patient's Name</th>
                  <th scope="col" class="px-6 py-3">Mobile No.</th>
                  <th scope="col" class="px-6 py-3">Email</th>
                  <th scope="col" class="px-6 py-3">Location</th>
                  <th scope="col" class="px-6 py-3">Profile</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let patient of patientList; let i = index"
                    class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                  <td class="px-6 py-4">
                    {{ i + 1 }}
                  </td>
                  <td class="px-6 py-4">
                    {{ patient.patientName }}
                  </td>
                  <td class="px-6 py-4">
                    {{ patient.patientMobileNo }}
                  </td>
                  <td class="px-6 py-4">
                    {{ patient.patientEmail }}
                  </td>
                  <td class="px-6 py-4">
                    {{
                      patient.patientLocation ? patient.patientLocation : "---"
                    }}
                  </td>
                  <td class="px-6 py-4">
                    <span (click)="goToPatientProfile(patient)"
                          class="bg-blue-100 cursor-pointer text-blue-800 text-xs font-medium mr-2 px-2.5 py-1 rounded dark:bg-blue-900 dark:text-blue-300">
                      View Profile
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="patientLoader" class="w-full h-[300px] flex justify-center items-center">
              Data is loading ...
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
