<!-- <div class="navigation-wrapper">
    <div class="keen-slider keen-slider--vertical" #sliderRef>
        <div *ngFor="let docSrc of docData; let i = index">
            <div [class]="'keen-slider__slide h-full number-slide'+(1+i)">
                <img class="w-full" [src]="docSrc" alt="doc" title="Sweape to see more">
            </div>
        </div>
    </div>
</div> -->

<div class="swiper w-full h-full">
    <div class="swiper-wrapper !w-full h-full">
      <div *ngFor="let docSrc of docData; let i = index" class="swiper-slide !w-full h-full">
        <img
          class=" w-full h-full"
          src={{docSrc}}
          alt="banner"
        />
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
