<!-- <div class="navigation-wrapper">
    <div class="keen-slider keen-slider--vertical" #sliderRef>
        <div *ngFor="let docSrc of docData; let i = index">
            <div [class]="'keen-slider__slide h-full number-slide'+(1+i)">
                <img class="w-full" [src]="docSrc" alt="doc" title="Sweape to see more">
            </div>
        </div>
    </div>
</div> -->

<div class="swiper w-full h-full">
    <div class="swiper-wrapper !w-full h-full">
      <div *ngFor="let docSrc of docData; let i = index" class="swiper-slide !w-full h-full">
        <ng-container *ngIf="docSrc">
            <iframe *ngIf="isPdf(docSrc)" [src]="docSrc" width="100%" height="100%"></iframe>
            <img class="w-full" *ngIf="!isPdf(docSrc)" [src]="docSrc" alt="selected file" >
          </ng-container>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
