
.menu{
    overflow: hidden;
}


.menu_list::-webkit-scrollbar {
    width: 0px;
  }
   

   
  .menu_list::-webkit-scrollbar-thumb {
    background-color: #30bced;
    outline: none;
    border-radius: 5px;
  }
