<!-- ====== About Section Start -->
<section class="mt-[75px]">
  <div
    class="w-full h-[450px] relative"
    style="
      background: url('/assets/banner/about-banner.webp');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    "
  >
    <div
      class="bg-secondary/20 w-full h-full absolute top-0 left-0 flex justify-center items-center"
    ></div>
  </div>
</section>

<section
  class="overflow-hidden pt-20 pb-12 lg:pt-[120px] lg:pb-[90px] bg-white dark:bg-dark"
>
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center justify-between -mx-4">
      <div class="w-full px-4 lg:w-6/12">
        <div class="flex items-center -mx-3 sm:-mx-4">
          <div class="w-full px-3 sm:px-4 xl:w-1/2">
            <div class="py-3 sm:py-4">
              <img
                src="/assets/about/ab-01.jpg"
                alt=""
                class="w-full rounded-2xl"
              />
            </div>
            <div class="py-3 sm:py-4">
              <img
                src="/assets/about/ab-02.jpg"
                alt=""
                class="w-full rounded-2xl"
              />
            </div>
          </div>
          <div class="w-full px-3 sm:px-4 xl:w-1/2">
            <div class="relative z-10 my-4">
              <img
                src="/assets/about/ab-03.jpg"
                alt=""
                class="w-full rounded-2xl"
              />
              <span class="absolute -right-7 -bottom-7 z-[-1]"> </span>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full px-4 lg:w-1/2 xl:w-5/12">
        <div class="mt-10 lg:mt-0">
          <span class="block mb-4 text-[24px] font-Roboto text-primary">
            About <b class="text-secondary">Soowgood</b>
          </span>
          <h2
            class="mb-5 text-3xl font-bold text-dark dark:text-white sm:text-[40px]/[48px]"
          >
            Make our patient happy by giving services.
          </h2>
          <p class="mb-5 text-base text-body-color dark:text-dark-6">
            At the heart of any remarkable journey lies a profound desire to
            make a positive impact, and Soowgood is no exception. Born out of a
            vision to revolutionise the healthcare landscape in Bangladesh,
            Soowgood represents a commitment to transform healthcare solutions
            that are innovative, accessible, and convenient. We believe in the
            power of technology and compassion to bridge gaps, and in doing so,
            improve lives.
          </p>
          <p class="mb-8 text-base text-body-color dark:text-dark-6">
            Soowgood is more than just a healthcare platform; it’s a testament
            to the enduring spirit of our founder and the unwavering dedication
            to the welfare of the people of Bangladesh. Our story begins with a
            visionary entrepreneur, whose success in the European business world
            was a stepping stone to a more profound mission. Soowgood was
            initiated by my father, a prosperous businessman in Europe, who
            harboured a deep-rooted desire to give back to his homeland,
            Bangladesh, by facilitating medical inclusion.
          </p>
          <a
            href="javascript:void(0)"
            class="inline-flex items-center justify-center py-3 text-base font-medium text-center text-white border border-transparent rounded-md px-7 bg-primary hover:bg-opacity-90"
          >
            Consult Now
          </a>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-10 py-24">
        <div>
          <h1
            class="mb-5 text-3xl font-Roboto font-bold text-dark dark:text-white sm:text-[40px]/[48px]"
          >
            Founder Message
          </h1>
          <p class="font-Roboto text-[16px] leading-9">
            In the quest to revolutionise healthcare in Bangladesh, my father’s
            vision for SoowGood was clear: to provide innovative and convenient
            solutions for both medical practitioners and patients. He envisioned
            a platform that would not only streamline the healthcare process but
            also bridge the gaps between doctors, patients, and medical
            services, ultimately leading to healthier and happier lives for all.
            Join us on this extraordinary journey to reshape the healthcare
            landscape of Bangladesh. Together, we will make a significant
            impact, one innovation at a time, one healthier life at a time, and
            one step closer to realizing Digital Bangladesh.
          </p>
        </div>
        <div>
          <img
            class="max-w-[450px] mx-auto rounded-xl"
            src="assets/about/ab-01.jpg"
            alt="founder"
          />
        </div>
      </div>
      <div class="grid grid-cols-2 gap-10 py-24">
        <div>
          <img
            class="max-w-[450px] mx-auto rounded-xl"
            src="assets/about/ab-01.jpg"
            alt="founder"
          />
        </div>
        <div>
          <h1
            class="mb-5 text-3xl font-Roboto font-bold text-dark dark:text-white sm:text-[40px]/[48px]"
          >
            Mission
          </h1>
          <p class="font-Roboto text-[16px] leading-9">
            Through Soowgood, our mission is to spearhead the digital
            transformation of the healthcare industry in Bangladesh. We are
            committed to establishing a comprehensive digital network of medical
            infrastructure that empowers patients to access an extensive range
            of healthcare facilities from the comfort of their homes. Central to
            our mission is the creation of a digital directory with patient data
            and enabling seamless recording of medical history.
          </p>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-10 py-24">
        <div>
          <h1
            class="mb-5 text-3xl font-Roboto font-bold text-dark dark:text-white sm:text-[40px]/[48px]"
          >
            Healthcare solutions
          </h1>
          <p class="font-Roboto text-[16px] leading-9">
            SoowGood tackles the healthcare challenges in Bangladesh by
            providing a convenient and efficient solution. Patients can now
            easily book appointments, tests, and ambulance services, including
            online consultations, eliminating the hassle of long waits at
            clinics. The platform also offers a comprehensive list of verified
            specialist doctors, enabling informed decisions based on patient
            reviews. Additionally, after consultations, patients can receive
            electronic prescriptions and reports, with medicines delivered
            directly to their doorstep, streamlining the entire medical process.
          </p>
        </div>
        <div>
          <img
            class="max-w-[450px] mx-auto rounded-xl"
            src="assets/about/ab-01.jpg"
            alt="founder"
          />
        </div>
      </div>
      <div class="grid grid-cols-2 gap-10 py-24">
        <div>
          <img
            class="max-w-[450px] mx-auto rounded-xl"
            src="assets/about/ab-01.jpg"
            alt="founder"
          />
        </div>
        <div>
          <h1
            class="mb-5 text-3xl font-Roboto font-bold text-dark dark:text-white sm:text-[40px]/[48px]"
          >
            Healthcare practitioner innovations
          </h1>
          <p class="font-Roboto text-[16px] leading-9">
            SoowGood not only benefits patients but also offers convenient
            solutions for doctors, addressing various challenges in their
            professional practice. Medical professionals often struggle with
            appointment scheduling, leading to additional costs and conflicts.
            Soowgood allows doctors to manage their schedules directly from
            their phones, eliminating the need for receptionists or
            administrative staff. Additionally, doctors often find it difficult
            to review patients' medical histories thoroughly, resulting in
            rushed consultations and potential oversights. With Soowgood,
            providers can access patients' medical histories before
            appointments, enabling them to make informed decisions and provide
            personalized care. Moreover, Soowgood's telemedicine services and
            Remote Booths enable doctors and hospitals to reach patients in
            remote areas, overcoming geographical limitations and expanding
            their services.
          </p>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-10 py-24">
        <div>
          <h1
            class="mb-5 text-3xl font-Roboto font-bold text-dark dark:text-white sm:text-[40px]/[48px]"
          >
            Village Digital Booth
          </h1>
          <p class="font-Roboto text-[16px] leading-9">
            Digital Booth powered by Zaytoon Business Solutions to offer
            transformative solutions to medical inclusion in rural and remote
            areas of Bangladesh. SoowGood facilitates on-demand telemedicine,
            electronic prescriptions and medicine delivery to remote areas
            through Village Digital Booths. This partnership reflects SoowGood’s
            commitment to enhancing healthcare inclusivity and aligns with its
            mission to make quality healthcare services available to all,
            regardless of geographical constraints. SOOWGOOD POINT
          </p>
        </div>
        <div>
          <img
            class="max-w-[450px] mx-auto rounded-xl"
            src="assets/about/ab-01.jpg"
            alt="founder"
          />
        </div>
      </div>
      <div class="grid grid-cols-2 gap-10 py-24">
        <div>
          <img
            class="max-w-[450px] mx-auto rounded-xl"
            src="assets/about/ab-01.jpg"
            alt="founder"
          />
        </div>
        <div>
          <h1
            class="mb-5 text-3xl font-Roboto font-bold text-dark dark:text-white sm:text-[40px]/[48px]"
          >
            Soowgood Point
          </h1>
          <p class="font-Roboto text-[16px] leading-9">
            SoowGood Point, an innovative initiative serves a dual purpose. It
            strives to bring healthcare services to remote and underserved
            regions in Bangladesh, where patients lack access to smartphones and
            traditional medical facilities. At the same time, SoowGood Point
            supports small local businesses, like nearby grocery shops and
            kiosks, by offering them additional revenue streams. This approach
            ensures healthcare access in remote areas and boosts economic growth
            for local entrepreneurs, creating a win-win situation for both
            patients and business owners.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== About Section End -->
