<div
  class="overflow-hidden"
  class="doctor-dashboard_midcontent_container w-ful"
>
  <div class="flex items-center justify-left">
    <div class="w-full bg-white">
      <div class="relative overflow-x-auto sm:rounded-lg p-8">
        <div class="flex gap-4 items-center justify-between">
          <h1 class="dashbord-heading-text text-[22px]">
            <i class="fa-solid fa-building-columns mr-1"></i> Hospital &
            Schedule
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="home"
            ></mat-icon>
          </h1>
        </div>

        <div class="w-full mt-6">
          <mat-stepper class="mt-7" linear>
            <ng-template #stepperIcon> done </ng-template>
            <mat-step state="hospital" label="Add New Place" [completed]="true">
              <app-hospital-info></app-hospital-info>

              <button
                matStepperNext
                class="mt-5 h-fit btn-secondary bg-secondary-light border-secondary-dark text-secondary-dark group"
              >
                Next
                <i
                  class="fa-solid group-hover:ml-2 ml-1 transition-all duration-75 fa-arrow-right"
                ></i>
              </button>
            </mat-step>

            <mat-step label="Create Schedule" [completed]="scheduleCompleted">
              <ng-container>
                <app-schedule-info></app-schedule-info>
              </ng-container>
              <div class="flex gap-5 ml-auto mt-5">
                <button matStepperPrevious class="btn-secondary group h-fit">
                  <i
                    class="fa-solid group-hover:pr-2 pr-1 box-border transition-all duration-75 fa-arrow-left-long"
                  ></i
                  >Previous
                </button>
                <button
                  matStepperNext
                  class="h-fit btn-secondary bg-secondary-light border-secondary-dark text-secondary-dark group"
                >
                  Next
                  <i
                    class="fa-solid group-hover:ml-2 ml-1 transition-all duration-75 fa-arrow-right"
                  ></i>
                </button>
              </div>
            </mat-step>

            <mat-step label="Fee Manage" [completed]="false">
              <form>
                <ng-container>
                  <app-fee-setup></app-fee-setup>
                </ng-container>
                <div class="flex gap-5 ml-auto mt-5">
                  <button matStepperPrevious class="btn-secondary group h-fit">
                    <i
                      class="fa-solid group-hover:mr-2 mr-1 transition-all duration-75 fa-arrow-left-long"
                    ></i
                    >Previous
                  </button>
                </div>
              </form>
            </mat-step>
          </mat-stepper>
        </div>
      </div>
    </div>
  </div>
</div>
