<div class="overflow-hidden" [@slideInFrom]="animationDirection" class="doctor-dashboard_midcontent_container w-ful p-4">
    <div class="flex items-center justify-left my-2 ">
        <div class=" w-full  bg-white">
    
            <div class="relative overflow-x-auto  sm:rounded-lg p-8">
                <div class=" flex gap-4 items-center justify-between">
                    <h1 class="dashbord-heading-text text-[22px] "> <i class="fa-solid fa-building-columns mr-1"></i>
                       Hospital & Schedule</h1>
                </div>
    
                <div class="w-full mt-6">

                    <mat-stepper (selectionChange)="onchangeStep($event)" #stepper class="mt-7"
                    [selectedIndex]="activeTab">
                    <mat-step [stepControl]="firstFormGroup" label="Add New Hospital">
                      <app-hospital-info></app-hospital-info>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup" label="Create Schedule" >
                      <!-- <app-education-info></app-education-info> -->
                      hello
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup" label="Complete" >
                        <!-- <app-education-info></app-education-info> -->
                        hello
                      </mat-step>
                  </mat-stepper>
                </div>
            </div>
        </div>
    </div>

</div>

