<div class="overflow-hidden" [@slideInFrom]="animationDirection" class="doctor-dashboard_midcontent_container w-full  bg-white p-8 ">
    <div class="flex items-center justify-left my-2">
        <div class=" w-full  bg-white">
    
            <div class="relative overflow-x-auto  sm:rounded-lg ">
                <div class="py-4 pl-5  border-[1px] rounded-md flex gap-4 items-center justify-between">
                    <h1 class="dashbord-heading-text text-[22px]"> <i class="fa-solid fa-building-columns mr-1"></i>
                       Add Your Hospital & Schedule</h1>
                    <div>
                        <span class="btn-secondary-light border-[1px] cursor-pointer">Hospital</span>
                        <span class="btn-secondary-light border-[1px] cursor-pointer">Schedule</span>
                    </div>
                </div>
    
                <div class="w-full mt-5">

                    <mat-stepper (selectionChange)="onchangeStep($event)" #stepper class="mt-7"
                    [selectedIndex]="activeTab">
                    <mat-step [stepControl]="firstFormGroup" label="Add New Hospital">
                      <!-- <app-basic-info (profileData)="getProfileData($event)" (formDataEvent)="handleFormData($event)"
                        [isLoading]='loading'></app-basic-info> -->
                        hello
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup" label="Create Schedule" >
                      <!-- <app-education-info></app-education-info> -->
                      hello
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup" label="Complete" >
                        <!-- <app-education-info></app-education-info> -->
                        hello
                      </mat-step>
                  </mat-stepper>
                </div>
            </div>
        </div>
    </div>

</div>

