<div class="min-h-screen bg-white py-10">
    <div class="container">
        <div>
            <div class="termsCondition">
                <h1>Terms & Condition </h1>
             
                 <div class="termsItem">
                  <h2>User Responsibilities</h2>
                  <ul>
                     <li> You must be at least 18 years old to use the Platform or have the consent of a legal guardian.</li>
                     <li>You are responsible for providing accurate and complete information during the registration process and updating it when necessary.</li>
                     <li>You understand that the Platform is not a substitute for emergency medical care and you should seek immediate medical attention for any urgent or life-threatening conditions</li>
                  </ul>
                 </div>
             
                 <div class="termsItem">
                     <h2>Medical Consultation</h2>
                     <ul>
                        <li>The Platform provides a medium for connecting users with licensed healthcare professionals for medical consultations.
                     </li>
                        <li>The information provided by healthcare professionals through the Platform is for general informational purposes only and does not constitute medical advice or diagnosis.</li>
                        <li>The Provider does not endorse or recommend any specific healthcare professional or treatment and does not guarantee the accuracy, reliability, or quality of the information provided.</li>
                        <li>Any reliance on the information obtained through the Platform is at your own risk./li>
                     </ul>
                 </div>
             
                 <div class="termsItem">
                     <h2>Privacy and Confidentiality</h2>
                     <ul>
                        <li>The Provider takes the privacy and confidentiality of user information seriously. Please refer to our Privacy Policy for details on how we collect, use, and protect your personal information.</li>
                        <li>By using the Platform, you acknowledge and consent to the collection, use, and disclosure of your personal information in accordance with our Privacy Policy.</li>
                     </ul>
                 </div>
             
             
                 <div class="termsItem">
                     <h2>Platform Availability and Technical Issues</h2>
                     <ul>
                        <li>The Provider strives to ensure the availability and functionality of the Platform, but does not guarantee uninterrupted or error-free access.</li>
                        <li>The Provider is not responsible for any technical issues, interruptions, or delays that may occur during your use of the Platform.</li>
                        <li>The Provider reserves the right to suspend or terminate the Platform at any time without prior notice.</li>
                     </ul>
                 </div>
             
                 <div class="termsItem">
                     <h2>Intellectual Property</h2>
                     <ul>
                        <li>The Platform and its contents, including but not limited to text, graphics, logos, and software, are the intellectual property of the Provider and are protected by copyright and other intellectual property laws.</li>
                        <li>You may not copy, modify, distribute, or reproduce any part of the Platform without the Provider's prior written consent.</li>
                     </ul>
                 </div>
                 
             
             
                 <div class="termsItem">
                     <h2>Indemnification</h2>
                     <ul>
                        <li>You agree to indemnify and hold the Provider, its affiliates, and their respective officers, directors, employees, and agents harmless from any claims, liabilities, damages, losses, or expenses arising out of your use of the Platform or violation of this Agreement.</li>
                     </ul>
                 </div>
             
                 <div class="termsItem">
                     <h2>Limitation of Liability</h2>
                     <ul>
                         <li>To the maximum extent permitted by law, the Provider shall not be liable for any indirect, incidental, consequential, or punitive damages arising out of or in connection with your use of the Platform.</li>
                         <li>The Provider's total liability for any claim arising under this Agreement shall not exceed the amount paid by you, if any, for accessing the Platform.</li>
                     </ul>
                 </div>
               
                 <div class="termsItem">
                     <h2>Governing Law and Dispute Resolution</h2>
                     <ul>
                         <li>This Agreement shall be governed by and construed in accordance with the laws.</li>
                         <li>Any disputes arising out of or in connection with this Agreement shall be resolved through arbitration in accordance with the rules.</li>
                     </ul>
                 </div>
             
                 <div class="termsItem">
                     <h2>Modification of Terms</h2>
                     <ul>
                         <li>The Provider reserves the right to modify or update this Agreement at any time. Any changes will be effective upon posting the revised Agreement on the Platform.</li>
                         <li>It is your responsibility to review the Agreement periodically.</li>
                     </ul>
                 </div>
             
             
             </div>
           
        </div>
    </div>
</div>
