
<div class="w-full border-l-[1px] h-full">
    <div class="flex items-center justify-left relative">

  
        <div class=" overflow-x-auto  sm:rounded-lg px-8 py-6 w-full">
            <mat-tab-group mat-stretch-tabs="false"  mat-align-tabs="start" >
                <mat-tab label="Appointments">
                    <!-- <app-appointment-card [id]="patientId" [user]="'patient'"></app-appointment-card> -->
                    <app-all-appointments [id]="patientId" [user]="'patient'" ></app-all-appointments>
                </mat-tab>

                <mat-tab label="Medical History">
                    <app-medical-history [id]="patientId"></app-medical-history>
                </mat-tab>
            </mat-tab-group>
  
      </div>
    </div>
  </div>

