<div class="signup-form">
  <div class="signup-form__left">
    <img class="w-full h-full" src="../../../../assets/auth/Repeat Grid 3.png" alt="auth">
  </div>
  <div class="signup-form__right drop-shadow-soft relative">
    <div class="max-w-lg min-w-[650px] mx-auto mt-10  bg-white p-8 rounded-xl shadow shadow-slate-300">
      <h1 class="text-4xl font-medium">Agent Signup</h1>
      <p class="text-slate-500 mt-2">Hi, Welcome to SoowGood 👋</p>
      <form class="mt-6" [formGroup]="signupForm">

        <div class="-mx-3 flex flex-wrap">


          <div class="w-full px-3 sm:w-1/2 mb-5">
            <label for="agentOrganization">
              <p class="font-medium text-slate-700 pb-2">Agent Master</p>
              <!--<input type="text" formControlName="organizationName" id="organizationName"
              class="form_input" placeholder="Agent Organization" required>-->
              <select formControlName="organizationName" name="select" id="organizationName"
                      class="w-full rounded-md border border-[#e0e0e0] bg-white py-2 px-3 text-base font-normal text-[14px] text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" (change)="loadAgentSupervisors($event)">
                <option value="0" class="font-semibold text-gray-500">Select</option>
                <option *ngFor="let item of agenetMasterList" value="{{item.id}}" class="font-semibold text-gray-500">
                  {{item.displayName}}
                </option>
              </select>
            </label>
          </div>
          <div class="w-full px-3 sm:w-1/2 mb-5">
            <label for="agentOrganization">
              <p class="font-medium text-slate-700 pb-2">Supervisor</p>
              <!--<input type="text" formControlName="organizationName" id="organizationName"
              class="form_input" placeholder="Agent Organization" required>-->
              <select formControlName="agentSuperVisor" name="select" id="agentSuperVisor"
                      class="w-full rounded-md border border-[#e0e0e0] bg-white py-2 px-3 text-base font-normal text-[14px] text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
                <option value="0" class="font-semibold text-gray-500">Select</option>
                <option *ngFor="let item of agentSupervisorList" value="{{item.id}}" class="font-semibold text-gray-500">
                  {{item.displayName}}
                </option>
              </select>
            </label>
          </div>

          <div class="w-full px-3 sm:w-1/2 mb-5">
            <label for="agentName">
              <p class="font-medium text-slate-700 pb-2">Agent Name</p>
              <input type="text" formControlName="fullName" id="agentName" class="form_input"
                     placeholder="Name" required>
            </label>
          </div>

          <div class="w-full px-3 sm:w-1/2 mb-5">
            <label for="email">
              <p class="font-medium text-slate-700 pb-2">Email</p>
              <input type="email" formControlName="email" id="email" class="form_input"
                     placeholder="example@mail.com" required>
            </label>
          </div>

          <div class="w-full px-3 sm:w-1/2 mb-5">
            <label for="password">
              <p class="font-medium text-slate-700 pb-2">Password</p>
              <input type="password" formControlName="password" id="password" class="form_input"
                     placeholder="Password" required>
            </label>
          </div>

          <div class="w-full px-3 sm:w-1/2 mb-5">
            <label for="Contact No">
              <p class="font-medium text-slate-700 pb-2">Contact No</p>
              <input type="tel" formControlName="mobileNo" id="mobileNo" class="form_input"
                     placeholder="00-00-00-00-00" required>
            </label>
          </div>
          <div class="w-full px-3 sm:w-1/2 mb-5">
            <label for="Address">
              <p class="font-medium text-slate-700 pb-2">Address</p>
              <input type="text" formControlName="address" id="address" class="form_input"
                     placeholder="Address" required>
            </label>
          </div>



          <button class="form_btn" (click)="onSubmit()">
            <div class="flex">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                   stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
              </svg>
              <span>Signup</span>
            </div>
            <span *ngIf="isLoading" class="loading loading-dots loading-md"></span>
          </button>
          <p class="text-center w-full mt-5">
            Already have an account? <a routerLink="/agent/login"
                                        class="text-primary font-medium inline-flex space-x-1 items-center">
              <span>
                Login
              </span><span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round"
                        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                </svg>
              </span>
            </a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
