<app-dialog-header [headingText]="editData" [iconClass]="'fa-solid fa-business-time'"
    (closeDialog)="dialogRef.close(true)"></app-dialog-header>
<div class="px-10 py-6">
    <form [formGroup]="form" class="flex">
        <div class="form-row" formArrayName="appointments">
            <div *ngFor="let appointment of days.controls let i = index" class="-mx-3 flex flex-wrap form-row-item">
                <ng-container [formGroupName]="i">
                    <!-- <div class="w-full px-3 " [ngClass]="i==0? 'sm:w-[100%]' : 'sm:w-[100%]'">
                        <div class="mb-5">
                            <label for="startTime{{ i }}" class="mb-2 block font-medium text-[14px] text-[#07074D]">
                                Active status
                            </label>
                            <input type="checkbox" class="toggle" checked />
                        </div>
                    </div> -->
                    <div class="w-full px-3 " [ngClass]="i==0? 'sm:w-[33%]' : 'sm:w-[28%]'">
                        <div class="mb-5">
                            <label for="startTime{{ i }}" class="mb-2 block font-medium text-[14px] text-[#07074D]">
                                Start time
                            </label>
                            <input formControlName="startTime" type="time" [id]="'startTime' + i" class="form_input" />
                        </div>
                    </div>
                    <div class="w-full px-3" [ngClass]="i==0? 'sm:w-[33%]' : 'sm:w-[28%]'">
                        <div class="mb-5">
                            <label for="endTime{{ i }}" class="mb-2 block font-medium text-[14px] text-[#07074D]">
                                End time
                            </label>
                            <input formControlName="endTime" type="time" [id]="'endTime' + i" class="form_input" />
                        </div>
                    </div>
                    <div class="w-full px-3" [ngClass]="i==0? 'sm:w-[33%]' : 'sm:w-[28%]'">
                        <div class="mb-5">
                            <label for="numberOfPatients{{ i }}"
                                class="mb-2 block font-medium text-[14px] text-[#07074D]">
                                Number of patients
                            </label>
                            <input formControlName="noOfPatients" type="number" [id]="'noOfPatients' + i"
                                class="form_input" />
                        </div>
                    </div>
                    <div class="flex items-center " [ngClass]="i>0? 'sm:w-[10%]' : 'hidden '">

                        <button class="btn-secondary" type="button" (click)="removeAppointmentRow(i)"> <i
                                class="fa-solid fa-xmark"></i></button>

                    </div>

                </ng-container>
            </div>
        </div>
    </form>

    <div class="flex w-full mt-5">
        <button class="btn-secondary mr-4" type="button" (click)="submit()">Save Session</button>
        <button class="btn-secondary-light p-4 border border-secondary-dark" type="button"
            (click)="addAppointmentRow()"> Add more</button>
    </div>
</div>