<div class="mt-20">
  <iframe
    src="https://www.google.com/maps/d/embed?mid=1Kr7Z5yJc656SD6tACBh4i5zKtZ79V6g&ehbc=2E312F"
    width="100%"
    height="350"
  ></iframe>

  <div class="container mx-auto my-8 p-10 bg-white rounded shadow-lg">
    <h1 class="text-2xl font-bold mb-4">Soowgood Point</h1>

    <p class="mb-4">
      Soowgood Point, a new initiative of Soowgood, aims to provide modern and
      comprehensive healthcare services to remote areas of the country through
      online.
    </p>

    <h2 class="text-xl font-semibold mb-2">Services:</h2>
    <ul class="list-disc pl-6 mb-4">
      <li>Affordable and quality healthcare;</li>
      <li>Consultation with specialized and experienced doctors;</li>
      <li>Instant communication with doctors through video calls;</li>
      <li>Specialized doctors available for women and children;</li>
      <li>Digital prescriptions;</li>
      <li>
        Convenient appointment scheduling with doctors at preferred times;
      </li>
      <li>
        Personal and medical information and consultation documents will be
        secure and confidential;
      </li>
      <li>24/7 online customer support.</li>
    </ul>

    <h2 class="text-xl font-semibold mb-2">
      Benefits for Entrepreneurs/Partners:
    </h2>
    <ul class="list-disc pl-6 mb-4">
      <li>Additional income opportunities;</li>
      <li>No need for any collateral to become a partner;</li>
      <li>
        Anyone, including individuals at local businesses like pharmacies,
        bKash, photocopy shops, or grocery stores, can be part of this
        initiative. However, they must have internet connectivity, a computer or
        laptop or mobile phone, and a designated space for operation.
      </li>
    </ul>
  </div>
</div>
