<div class="py-[100px] w-full">
    <div class="container h-full">
        <div class="flex flex-col justify-center h-full">
            <div class="flex justify-between items-end">
                <div class="relative">
                    <h3 class="text-[18px] text-secondary font-Roboto">Available now</h3>
                    <div class="bubble absolute left-[23px] bottom-[42px]">
                        <span class="bubble-outer-dot">
                            <span class="bubble-inner-dot"></span>
                        </span>
                    </div>
                    <h1 class="text-[44px] text-primary/90 font-Roboto font-semibold">Live Doctors </h1>

                </div>
                <div class="flex gap-5">
                   
                    <button class="btn-secondary"><i class="fa-solid fa-arrow-left"></i></button>
                    <button class="btn-secondary"><i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>

            <div *ngIf="liveDoctorList.length < 1"
                class="grid w-full grid-cols-1 justify-center items-center h-[300px]">
                <p class="text-center leading-9">No doctors is available right now! <br> Please refresh <span> <i
                            class="font-bold text-[20px] cursor-pointer fa-solid fa-arrows-rotate"></i> </span> or try
                    again later.</p>
            </div>
            <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 mt-9">

                <app-live-doctor-card *ngFor="let details of liveDoctorList" [doctorDetails]="details"></app-live-doctor-card>

            </div>
            <button class="rounded-3xl mt-10 px-6 py-2 bg-secondary text-white mx-auto" (click)="onClickSeeMore('livedoctors')">see more</button>
        </div>
    </div>
</div>

<!-- <div class="navigation-wrapper" [ngClass]="showSlider ? 'opacity-1' : 'opacity-0'" >
    <div class="keen-slider keen-slider--vertical" #sliderRef>
      <div *ngFor="let details of liveDoctorList; let i = index">
        <div [class]="'keen-slider__slide h-full number-slide'+(1+i)" >
          <app-live-doctor-card class="w-full" [doctorDetails]="details"></app-live-doctor-card>
        </div>

      </div>
       
    </div>
    <svg

      [ngClass]="
        'arrow arrow--left ' + (currentSlide === 0 ? 'arrow--disabled' : '')
      "
      (click)="slider.prev()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"
      />
    </svg>
    <svg
      *ngIf="slider"
      [ngClass]="
        'arrow arrow--right ' +
        (slider.track.details.slides.length - 1 === currentSlide
          ? 'arrow--disabled'
          : '')
      "
      (click)="slider.next()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
    </svg>
  </div>
  <div class="dots">
    <button
      (click)="slider.moveToIdx(i)"
      *ngFor="let slide of dotHelper; let i = index"
      [class]="'dot ' + (i === currentSlide ? 'active' : '')"
    ></button>
  </div>
   -->