<div class="py-[100px] w-full">
  <div class="container h-full">
    <div class="flex flex-col justify-center h-full">
      <div class="flex justify-between items-end">
        <div class="relative">
          <h3 class="text-[18px] text-secondary font-Roboto">Available now</h3>
          <div class="bubble absolute left-[23px] bottom-[42px]">
            <span class="bubble-outer-dot">
              <span class="bubble-inner-dot"></span>
            </span>
          </div>

          <h1 class="text-[44px] text-primary/90 font-Roboto">
            Live Doctors
            <!-- <button (click)="getDoctorDetails()" title="Reload doctor list">
              <i class="fa-solid text-[20px] text-secondary font-semibold fa-rotate-right"></i>
            </button> -->
          </h1>
        </div>
      </div>

      <!-- <div
        *ngIf="liveDoctorList?.length < 1"
        class="grid w-full grid-cols-1 justify-center items-center h-[300px]"
      >
        <p class="text-center leading-9">Loading...</p>
      </div> -->
      <div
        id=" py-6"
        class="relative w-full grid gap-7 mt-5 grid-cols-1 md:grid-cols-4"
      >
        <!-- <div class="swiper"> -->
        <!-- <div class="swiper-wrapper py-6"> -->
        <!-- <div class="swiper-slide" > -->

        @defer (on viewport; prefetch on idle) { @for (details of
        liveDoctorList; track details.id) {
        <app-live-doctor-card [doctorDetails]="details"></app-live-doctor-card>
        } }@placeholder {
        <h1>Data is loading</h1>
        }
        <!-- </div> -->
        <!-- </div> -->

        <!-- <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div> -->
        <!-- </div> -->
        <!-- <div class="swiper-pagination -bottom-7"></div> -->
      </div>
      <button
        *ngIf="liveDoctorList?.length > 0"
        class="rounded-3xl mt-10 px-6 py-2 bg-secondary text-white mx-auto"
        (click)="onClickSeeMore('OnlineRT')"
      >
        see more
      </button>
    </div>
  </div>
</div>
